.calendar-customized {
	.fc-toolbar{
		&.fc-header-toolbar {
			margin-top: 1em;
		}

		button {
			-webkit-box-shadow: none;
			-moz-box-shadow: none;
			box-shadow: none;
			height: auto;
		}

		.fc-button-group {
			button {
				padding: .5em 2em;
				font-size: 16px;
				-webkit-border-radius: 0px;
				-moz-border-radius: 0px;
				border-radius: 0px;
			}

			.fc-state-default {
				background: $white;
			}

			.fc-state-active, .fc-state-down {
				background-color: $main-orange;
				color: $white;
				outline: none;
			}
		}

		.fc-prev-button, .fc-next-button {
			-webkit-border-radius: 50%;
			-moz-border-radius: 50%;
			border-radius: 50%;
			padding: .5em .3em;
			border: none;
			background: $price-range-bg;
			outline: none;

			&:active, &:hover {
				background: $main-orange;

				.fc-icon-left-single-arrow:after, .fc-icon-right-single-arrow:after {
					color: $white;
				}
			}
		}

		.fc-icon-left-single-arrow:after, .fc-icon-right-single-arrow:after {
			font-size: 36px;
			color: $middle-gray;
		}

		.fc-right h2 {
			font-weight: 400;
		}
	}

	.fc-view-container {
		.fc-head {
			th {
				padding-top: .4em;
				padding-bottom: .4em;

				a {
					color: $dark-gray;
				}
			}
		}
	}
	//TODO
	//.fc-scroller {
	//	overflow-y: hidden !important;
	//	height: auto !important;
	//}
}
