.owl-carousel {
	cursor: pointer;

	.owl-nav {
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
		margin-top: 0;

		[class*='owl-'] {
			position: absolute;
			top: 0;
			bottom: 0;
			display: inline-block;
			zoom: 1;
			margin: -15px 0px 0px !important;
			background: none;
			
			&:hover {
				background: none;
			}

			.fa {
				font-weight: normal;
				font-size: 30px;
				color: $gray;
				background: $form-title-gray;
				line-height: 30px;
				padding: 5px 15px;
				-webkit-border-radius: 100%;
				-moz-border-radius: 100%;
				border-radius: 100%;
				
				&:hover {
					background: $lighter-gray-opacity;
				}
			}
		}

		.owl-prev {
			left: 5px;
		}

		.owl-next {
			right: 5px;
		}
	}
}