@font-face {
    font-family: 'BebasNeue Bold';
    src: url('../fonts/BebasNeue/BebasNeueBold.eot');
    src: local('BebasNeue Bold'), local('BebasNeueBold'),
    url('../fonts/BebasNeue/BebasNeueBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BebasNeue/BebasNeueBold.woff2') format('woff2'),
    url('../fonts/BebasNeue/BebasNeueBold.woff') format('woff'),
    url('../fonts/BebasNeue/BebasNeueBold.ttf') format('truetype'),
    url('../fonts/BebasNeue/BebasNeueBold.svg#BebasNeue') format('svg');
}

@font-face {
    font-family: 'MuseoSansCyrl-500';
    src: url('../fonts/MuseoSansCyrl/MuseoSansCyrl-500.eot');
    src: local('MuseoSansCyrl-500'), local('MuseoSansCyrl'),
    url('../fonts/MuseoSansCyrl/MuseoSansCyrl-500.woff2') format('woff2'),
    url('../fonts/MuseoSansCyrl/MuseoSansCyrl-500.woff') format('woff'),
    url('../fonts/MuseoSansCyrl/MuseoSansCyrl-500.ttf') format('truetype'),
    url('../fonts/MuseoSansCyrl/MuseoSansCyrl-500.svg#MuseoSansCyrl-500') format('svg'),
    url('../fonts/MuseoSansCyrl/MuseoSansCyrl-500.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SF UI  Text';
    src: url('../fonts/SFUIT/SFUIText-Light.eot');
    src: url('../fonts/SFUIT/SFUIText-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SFUIT/SFUIText-Light.woff2') format('woff2'),
    url('../fonts/SFUIT/SFUIText-Light.woff') format('woff'),
    url('../fonts/SFUIT/SFUIText-Light.ttf') format('truetype'),
    url('../fonts/SFUIT/SFUIText-Light.svg#SFUIText-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}
