@import '../../colors-variables';
@import '../../mixins';

.select2-selection--single {
	border-radius: $border-radius;
	background-color: #ffffff;
	height: 47px; // TODO make variable
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: box-shadow ease-in-out .15s;
	-o-transition: box-shadow ease-in-out .15s;
	transition: box-shadow ease-in-out .15s;

	&:focus, &:hover {
		border-radius: $border-radius;
		-webkit-box-shadow: inset 0 0 0px 3px $main-orange;
		-moz-box-shadow: inset 0 0 0px 3px $main-orange;
		box-shadow: inset 0 0 0px 3px $main-orange;
		outline: none;
	}

	&:before {
		content: '';
		position: absolute;
		top: 3px;
		left: 0px;
		z-index: 5;
		padding: 8px 0px;
		line-height: 0em;
		opacity: 0.6;
		width: 45px;
		height: 41px;
		text-align: center;
	}


	&:after {
		content: url(../images/ico-arrow-to-down.png);
		position: absolute;
		top: 3px;
		right: 5px;
		z-index: 5;
		padding: 10px 7px;

		opacity: 0.6;
	}



	.select2-selection__rendered {
		color: #444;
		line-height: 3.4em;
		text-align: center;
		padding: 0px;
		position: relative;
		font-weight: bold;
	}

	.select2-selection__clear {
		cursor: pointer;
		float: right;
		font-weight: bold;
		margin-right: 10px;
	}

	.select2-selection__placeholder {
		color: #999;
	}

	.select2-selection__arrow {
		display: none;
	}
}

&[dir='rtl'] {
	.select2-selection--single {
		.select2-selection__clear {
			float: left;
		}

		.select2-selection__arrow {
			border: none;
			border-right: 1px solid $border-color;

			border-radius: 0;
			border-top-left-radius: $border-radius;
			border-bottom-left-radius: $border-radius;

			left: 1px;
			right: auto;
		}
	}
}

&.select2-container--open {
	.select2-selection--single {
		&:focus {
			border-radius: 5px;
			border: none;
			outline: none;

			&:hover {
				padding-top: 0;
			}
		}

		.select2-selection__arrow {
			background: transparent;

			border: none;

			b {
				border-color: transparent transparent #888 transparent;
				border-width: 0 4px 5px 4px;
			}
		}

		&:hover .select2-selection__rendered {
			margin-top: 0px;
		}
	}

	&.select2-container--above {
		.select2-selection--single {
			border-top: none;

			&:focus {
				border-radius: 5px;
				outline: none;
			}

		}
	}

	&.select2-container--below {
		.select2-selection--single {
			//border-bottom: none;
		}
	}
}
