@import 'defaults';
@import '../../../../node_modules/select2/src/scss/mixins/gradients';

.select2-container--orange {
	@import 'single';
	@import 'multiple';

	.select2-search--dropdown {
		.select2-search__field {
			border: 1px solid $border-color;
			outline: 0;
		}
	}

	.select2-search--inline {
		.select2-search__field {
			outline: 0;
			box-shadow: none;
		}
	}

	.select2-dropdown {
		border: none;
	}

	.select2-dropdown--above {
		border-radius: 1px;
		-webkit-box-shadow: 0 0 10px $middle-gray;
		-moz-box-shadow: 0 0 10px $middle-gray;
		box-shadow: 0 0 10px $middle-gray;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		margin-top: -4px;
	}

	.select2-dropdown--below {
		border-radius: 1px;
		margin-top: 4px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		-webkit-box-shadow: 0 0 10px $middle-gray;
		-moz-box-shadow: 0 0 10px $middle-gray;
		box-shadow: 0 0 10px $middle-gray;
	}

	.select2-results > .select2-results__options {
		max-height: $results-max-height;
		overflow-y: auto;
		padding: 10px 0px;
		text-align: center;
	}

	.select2-results__option {
		text-align: center;
		font-weight: bold;

		&[role=group] {
			padding: 0;
		}

		&[aria-disabled=true] {
			color: $results-choice-fg-unselectable-color;
		}
	}

	.select2-results__option--highlighted[aria-selected] {
		border: 2px solid $border-color;
		display: inline-block;
		padding: 2px 8px;
		margin: 2px 0;
	}

	.select2-results__group {
		cursor: default;
		display: block;
		padding: 6px;
	}

	&.select2-container--open .select2-dropdown {
		// remain for styles
	}
}
