.error-page {
	background: url(../images/registration-bg-left.png) no-repeat scroll left bottom, url(../images/registration-bg-right.png) no-repeat scroll right top #fff;
	min-height: 100%;
	padding-top: 80px;

	.container-customized {
		position: static;
		-webkit-transform: translate(0, 0);
		-moz-transform: translate(0, 0);
		-ms-transform: translate(0, 0);
		-o-transform: translate(0, 0);
		transform: translate(0, 0);
	}
}

.main-content-404 {
	max-width: 735px;
	width: 90%;
	margin: 5% auto 2%;
	padding: 5%;
	background-color: $white;
	-webkit-box-shadow: 0 0 30px $lighter-gray;
	-moz-box-shadow: 0 0 30px $lighter-gray;
	box-shadow: 0 0 30px $lighter-gray;
	text-align: center;

	a {
		&:hover {
			text-decoration: none;
		}
	}
}

.title-404 {
	font-family: 'Roboto-Bold', sans-serif;
	font-size: 250px;
	line-height: 200px;
}

.text-404 {
	font-size: 24px;
	color: $main-orange;
}

.btn-404 {
	margin-top: 50px;
}