.about-us{
  &-container{
    display: flex;
    flex-shrink: 1;
  }
  &-text-container{
    max-width: 600px;
  }
  &-image{
    margin-right: 30px;
    width: 420px;
    max-width: 100%;
  }
  &-main-content{
    background-color: #fff;
    padding-top: 40px;
    padding-bottom: 60px;
    min-height: 600px;
    h1{
      margin-top: 0;
      margin-bottom: 15px;
    }
  }
  &-contact{
    font-family: 'Roboto';
    font-weight: 500;
    padding-top: 20px;
    a{
      color: #000;
      font-size: 16px;
      line-height: 1em;
    }
  }
  &-text{
    p{
      margin-bottom: 40px;
      font-size: 16px;
      line-height: 1.1em;
    }
  }
}

