.free-tables {
  float: right;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}
input.custom-checkbox[type="checkbox"] {
  display: none;
}

input.custom-checkbox[type="checkbox"] + label {
  font-size: 18px;
  color: #000000;
  cursor: pointer;
  font-family: "ClearSans-Light", sans-serif;
}
input.custom-checkbox[type="checkbox"] + label::before {
  content: "";
  display: inline-block;
  height: 18px;
  width: 18px;
  margin: 0 15px 0 0;
  background: #f3f3f3;
  border: 1px solid #d1d1d1;
  position: relative;
  top: 2px;
}

input.custom-checkbox[type="checkbox"]:checked + label::before {
  border: 1px solid $orange;
  background: $orange url(/images/chekbox-cheked.png) no-repeat center;
}

input.custom-checkbox[type="checkbox"]:disabled + label::before {
  background: #f3f3f3;
  border: 1px solid #d1d1d1;
}
input.custom-checkbox[type="checkbox"]:checked:disabled + label::before {
  background: #f3f3f3;
  border: 1px solid #d1d1d1;
}

.quantity-tables {
  border: 1px solid #e8e8e8;
  display: inline-block;
  margin-top: 8px;

  input {
    text-align: center;
    font-size: 24px;
    color: #fff;
    font-family: "Roboto-Condensed-Bold", sans-serif;
    border: none;
    height: 40px;
    vertical-align: top;
    outline: none;
    line-height: 1em;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    &[name="tablesCount"] {
        min-width: 112px;
        color: #282828;
      }
    &[type="button"] {
      background-color: #c9c9c9;
      font-size: 36px;
      width: 40px;
    }
    &[type="button"]:hover,
    &[type="button"]:active {
      background-color: $orange;
    }
  }
}

#allBookings {
  .column {
    padding-right: 20px;
  }

  .title {
    max-width: 320px;
    width: 33%;
  }
  .visitors-num {
    max-width: 90px;
    width: 25%;
  }
  .table-wrap {
    position: relative;
  }
  .order-id {
    min-width: 120px;
    max-width: 140px;
    width: 16%;
  }
  .order-client-name {
    max-width: 180px;
    width: 20%;
  }
}
#responses {
  .b-date {
    max-width: 210px;
    width: 23%;
  }
  .order-client-name {
    max-width: 245px;
    width: 35%;
  }
  .title {
    max-width: 670px;
    width: 43%;
  }
}

.sort-booking-status {
  position: absolute;
  top: -31px;
  right: 0;
  .dropdown-toggle {
    font-size: 14px;
    margin: 15px 0 10px;
    font-family: "Roboto-Medium", sans-serif;
  }

  .dropdown-menu {
    top: 40px;
    right: 0;
    & > li > a {
      font-size: 14px;
    }
  }
}

#infoRequestModal, #userReviewsModal {
  .dropdown {
    position: absolute;
    width: 100%;
    top: -80px;
    right: 30px;
  }
  .client-data {
    padding: 0 0 10px;
  }
  .client-photo {
    width: 55px;
    height: 55px;
    margin: 0 20px 0 0;
  }
  .client-name {
    color: #121212;
    font-size: 24px;
    font-family: "Roboto-Medium", sans-serif;
    text-decoration: underline;
  }
  .modal-header {
    padding: 15px 30px 15px 30px;
  }
  .modal-body {
    padding: 0 0 15px;
  }

  .modal-title {
    font-size: 18px;
    font-family: "Roboto-Medium", sans-serif;
  }
  .all-visits {
    .modal-title {
      font-size: 36px;
    }
  }
  .modal-sub-title {
    margin-bottom: 5px;
  }
}
#userReviewsModal {
  form {
    padding-bottom: 10px;
  }
  .progress {
    width: 136px;
    float: right;
    background: #efefef;
  }
  .rating-number {
    font-size: 18px;
    font-family: 'Roboto-Bold', sans-serif;
    color: #282828;
  }
  .progress-bar {
    background: $orange;
  }
  .reviews-progress-bar {
    padding-right: 80px;
  }
  .progress-bar-item {
    position: relative;
  }
  .review-rate__orange {
    position: absolute;
    right: -45px;
    top: -4px;
  }
  .reviews-rating-overall-block {
    margin-top: 30px;
  }
}
.modal-customized {
  .dropdown-toggle__orange {
    color: $orange;
    font-size: 18px;
    font-family: "Roboto-Regular", sans-serif;
    text-decoration: none;
    float: right;
    margin: 18px 0 10px;
    position: relative;
    &:before {
      content: 'User information';
    }
    &[aria-expanded="true"] {
      &:before {
        content: 'Close';
      }
      .b-caret {
        -ms-transform: rotate(180deg); /* IE 9 */
        -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
        transform: rotate(180deg);
      }
    }
    .b-caret {
      width: 20px;
      height: 10px;
      background: url(../../images/ico-arrow-to-down-orange.png) no-repeat center;
      display: inline-block;
      vertical-align: middle;
      margin-left: 12px;
    }
  }
  .user-review-entry {
    textarea {
      border: none;
      padding: 0;
      outline: none;
    }
  }
}
.client-order {
  border-bottom: 1px solid #e8e8e8;
  border-top: 1px solid #e8e8e8;
  background-color: #f7f7f7;
  padding: 15px 35px 15px 30px;

  &__item {
    margin-bottom: 15px;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      display: inline-block;
      min-width: 160px;
      margin: 0 0 15px;
    }
  }
}
.order-status__wrap {
  padding: 15px 30px 5px;
  input, select {
    color: #282828;
    font-family: "Roboto-Light", sans-serif;
    margin-bottom: 8px;
  }
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #999999;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: #999999;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: #999999;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: #999999;
  }
}
.customized-select {
  position: relative;
  margin: 0;
  width: 100%;

  select, .filter-label {
    background: url(/images/ico-arrow-to-down-black.png) no-repeat 98% center;
    color: #282828;
    font-size: 18px;
    font-family: "Roboto-Light", sans-serif;
    padding: 15px;
    border: 1px solid #e8e8e8;
    width: 100%;
    display: inline-block;
    vertical-align: top;
    line-height: 1em;
  }

  .filter-label {
    max-width: 100%;
    min-height: 50px;
    margin: 0;
    text-align: left;

    &:after {
      content: '';
      opacity: 1;
      padding-left: 0;
    }
  }
}

.order-status {
  font-size: 18px;
  font-family: "Roboto-Medium", sans-serif;
  color: #121212;
  padding-left: 55px;
  display: none;
  position: relative;
  margin: 20px 0 10px;
}
.order-status:before {
  position: absolute;
  left: 0;
  top: -11px;
}
.order-status__cancel, .order-status__approved {
  display: inline-block;
}
.order-status__cancel:before {
  //content: url("/images/order-cancel.png");
  content: url("/images/icon-status-cancel.png");
}
.order-status__approved:before {
  content: url("/images/icon-status-checked.png");
  top: -11px;
}
.user-info-dropdown {
  width: 100%;
  border: none;
  border-radius: 0;
  padding: 15px 30px 40px 40px;
  top: 79px;
  right: -30px;
  left: inherit;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.175);
  ul {
    list-style: none;
    padding: 0;
    margin: 0 0 20px;
    overflow: hidden;
    li {
      float: left;
      min-width: 170px;
      margin-right: 50px;
      margin-bottom: 20px;
      &:last-child {
        margin: 0 0 20px;
      }
    }
    &.all-visits {
      margin: 0 0 40px;
      .modal-title {
        text-align: center;
      }

      li {
        width: 41%;
        min-width: inherit;
        float: left;
        margin-right: 8%;
        margin-bottom: 0;
        &:first-child {
          width: 17%;
        }
        &:nth-child(2) {
         text-align: center;
        }
        &:last-child {
          width: 25%;
          float: right;
          margin: 0;
          .modal-sub-title {
            text-align: right;
          }
        }
      }
    }
  }
}
.text-orange {
  color: $orange;
}
.text-grey {
  color: #999999;
}
.text-green {
  color: #3ed650;
}
.text-red {
  color: #ff0000;
}
.rating {
  width: 65px;
  font-size: 30px;
  font-family: "Roboto-Regular", sans-serif;
}
.rating-title {
  display: none;
}
.user-review__text {
  font-size: 18px;
  padding: 15px;
  border: 1px solid #e8e8e8;
  color: #121212;
  font-family: "Roboto-LightItalic", sans-serif;
  margin-bottom: 19px;
}
.review-rate__orange {
  color: $orange;
  font-size: 18px;
  font-family: "Roboto-Bold", sans-serif;
}
.up-votes {
  color: #282828;
  font-size: 18px;
  margin-top: 20px;
  font-family: "Roboto-Light", sans-serif;
  .text-orange {
    font-family: "Roboto-Regular", sans-serif;

  }
}
