@font-face {
  font-family: 'ClearSans-Light';
  src: url('../fonts/ClearSans-Light.ttf') format('truetype');
  font-style: normal;
}
@font-face {
  font-family: 'ClearSans-Bold';
  src: url('../fonts/ClearSans-Bold.ttf') format('truetype');
  font-style: normal;
}

.client-main-content {
  background-color: #fff;
}
.client-data {
  padding: 30px 0 10px;
  overflow: hidden;
}
.client-photo {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  overflow: hidden;
  float: left;
  margin: 0 30px 0 0 ;
  position: relative;
  img {
    width: 100%;
  }
}
.client-photo__border {
  border: 1px solid #e8e8e8;
}
.client-photo__edit {
  background-color: rgba(0,0,0,0.4);
  position: absolute;
  bottom: 0;
  height: 38px;
  width: 100%;
  text-align: center;
  padding-top: 9px;
  a {
    display: inline-block;
    width: 15px;
    height: 15px;
  }
}

.icon-edit {
  background: url("../../images/pen.png") no-repeat center;
  background-size: contain;
  margin-right: 13px;
  margin-left: 15px;
}
.icon-close {
  background: url("../../images/cancel-white.png") no-repeat center;
  background-size: contain;
  margin-right: 13px;
}
.icon-settings {
  display: block;
  width: 23px;
  height: 23px;
  background: url("../../images/settings.png") no-repeat center;
  background-size: contain;
  position: absolute;
  right: 0;
  top: 23px;
  &.icon-settings__orange {
    background: url("../../images/orange-settings.png") no-repeat center;
  }
}

.client-name {
  font-size: 36px;
  color: #282828;
}

.client-info {
  float: left;
  padding-top: 15px;
  position: relative;
  padding-right: 42px;
  p {
    line-height: 1em;
    margin-bottom: 2px;
  }
}
.client-email {
  font-size: 18px;
  color: #000;
  font-family: 'ClearSans-Light', sans-serif;
}

.table-row {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  flex-wrap: no-wrap;
  -webkit-flex-wrap: no-wrap;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  -webkit-align-items: center;
  align-items: center;
}
.wrapper {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
}
.column {
  flex-grow: 0;
  -webkit-flex-grow: 0;
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
  -webkit-align-items: center;
  align-items: center;

}
.b-date {
  max-width: 208px;
  width: 17%;
}
.b-date a {
  position: relative;
  &:after {
    content: url("../../images/arrow-sort.png");
    position: absolute;
    right: -20px;
  }
}
.client-page .title {
  max-width: 580px;
  width: 45%;
}
.status {
  width: 171px;
  position: relative;
}
.status span.status-icon {
  width: 32px;
  height: 32px;
  position: absolute;
  right: -36px;
  top: 50%;
  margin-top: -16px;
}
.status.checked span.status-icon {
  background: url("../../images/icon-status-checked.png") no-repeat center;
  background-size: contain;
}

.status.checked-grey span.status-icon {
  background: url("../../images/icon-status-checked-grey.png") no-repeat center;
  background-size: contain;
}
.status.cancel span.status-icon {
  background: url("../../images/icon-status-cancel.png") no-repeat center;
  background-size: contain;
}
.visitors-num__title {
  display: none;
}
.visitors-num {
  min-width: 142px;
  max-width: 228px;
  width: 20%;
}
.client-page .title,
.visitors-num {
  flex-grow: 1;
  -webkit-flex-grow: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: 20px;
}

/* growable wrappers */
.title-comment,
.title-comment-module-reporter,
.attributes {
  flex-grow: 1;
  -webkit-flex-grow: 1;
}
/*
 * General good-look styles
 */
.table-row {
  border: 1px solid #f5f5f5;
  border-collapse: collapse;
  padding: 25px 0;
  margin: 10px 0;
}
.table-row.table-header {
  padding-top: 6px;
  padding-bottom: 6px;
}
.table-row.table-header .column {
  color: #141414;
  font-size: 18px;
  font-family: 'Roboto-Light', sans-serif;
}

.modal-sub-title {
  color: $restaurant-tabs-lighter-gray;
  font-size: 18px;
  font-family: 'Roboto-Light', sans-serif;
  margin-bottom: 10px;
}
.modal-customized {
  .modal-content {
    border: none;
    box-shadow: none;
    border-radius: 0;
  }
  .modal-header .close {
    margin-top: -12px;
  }
  .modal-header {
    border: none;
    padding: 30px 30px 25px 30px;
  }
  .modal-body {
    border: none;
    padding: 0 30px 15px 30px;
  }

  .modal-footer {
    border: none;
    padding: 0;
  }
  .modal-title {
    font-size: 24px;
    word-break: break-word;
  }
  .status-text {
    font-size: 18px;
    font-family: 'Roboto-Medium', sans-serif;
  }
  .modal-status {
    position: relative;
    margin-bottom: 25px;
  }
  .modal-status__wrap {
    margin-bottom: 25px;
    position: relative;
  }
  .modal-reserve {
    margin-bottom: 25px;
  }
  .btn-cancel-order {
    position: absolute;
    right: 0;
    top: 19px;
  }
  label {
    display: block;
  }
  .btn-orange {
    padding: 15px 30px;
    margin: 0 18px 15px 0;
  }
  .btn-grey {
    padding: 15px 30px;
    margin-bottom: 15px;
  }
  form {
    font-family: 'Roboto-Medium', sans-serif;
    input:not([type="checkbox"]) {
      height: 50px;
      width: 100%;
      display: inline-block;
    }
    input, textarea {
      color: #121212;
      font-size: 18px;
      padding: 15px;
      border: 1px solid #e8e8e8;
    }
  }
  textarea {
    border-radius: 0;
    box-shadow: none;
    resize: none;
    width: 100%;
    line-height: 1.42857143;
    color: #555555;
    background-color: #fff;
    background-image: none;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  }
  .b-notification {
    margin-bottom: 10px;
    margin-top: -10px;
  }
  .form-group {
    margin-bottom: 25px;
  }
  .form-50 {
    width: 48%;
    display: inline-block;
    margin-right: 15px;
    &:last-child {
      margin-right: 0;
    }
    .input-group {
      width: 100%;
      min-height: 52px;
    }
    .select2-container {
      width: 100%!important;
      border: 1px solid #e8e8e8;
    }
  }
}
.modal-reviews {
  .modal-body {
    padding: 0;
  }
  .modal-header {
    padding-bottom: 10px;}
  .responses-item__star {
    margin-bottom: 0;
  }
  form {
    padding: 25px 30px 30px;
    textarea, .user-review-entry {
      color: #121212;
      font-family: "Roboto-LightItalic", sans-serif;
    }
  }
  .btn-orange {
    margin-bottom: 0;
  }
  .reviews-rating-overall-top {
    border-bottom: none;
    float: left;
    .overall-stars-rating .place-stars-block {
      margin-top: 14px;
    }
  }
  blockquote {
    border-left: 2px solid #e6e6e6;
    float: left;
    margin: 0 0 0 20px;

  }
  .user-review-header {
    margin-bottom: 5px;
    div {
      display: inline-block;
      vertical-align: middle;
    }
  }
  .user-name {
    color: #666666;
    font-size: 18px;
    font-family: "Roboto-Medium", sans-serif;
    margin-right: 15px;
  }
  .review-date {
    color: $restaurant-tabs-lighter-gray;
    font-size: 16px;
    font-family: "Roboto-Light", sans-serif;

  }
}
.b-reply {
  overflow: hidden;
  position: relative;
  margin-top: 20px;
}
.restaurant-logo {
  float: left;
  padding: 10px 0 0 10px;
  img {
    width: 100%;
    max-width: 53px;
  }
}
.sorting-form__date {
  display: inline-block;

  .select2-container--sorting .select2-selection--single .select2-selection__rendered {
    width: 250px!important;
    text-align: right!important;
  }
}
.review-rate {
  background-color: #f8f8f8;
  padding: 20px 30px 10px;
  overflow: hidden;
}
.review-left {
  width: 210px;
  float: left;
  margin-right: 50px;
  .responses-item__star{
    float: right;
    padding-top: 3px;
  }
  .reviews-rating-part {
    font-size: 18px;
    color: $restaurant-tabs-lighter-gray;
    font-family: "Roboto-Medium", sans-serif;
    margin-bottom: 4px;
  }
}
.btn-cancel-order {
  text-transform: uppercase;
  border: 1px solid #e8e8e8;
  background-color: #f7f7f7;
  border-radius: 0;
  color: #121212;
  font-size: 18px;
  font-family: "Roboto-Light", sans-serif;
}

.b-notification {
  font-size: 18px;
  color: #8c8b8b;
  background-color: $lightPink;
  font-family: 'Roboto-Medium', sans-serif;
  padding: 25px 15px;
}
.b-sort {
  padding: 0 15px;
  .dropdown-menu {
    border: none;
    right: 40px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.175);
    margin: 0;
    > li > a {
      color: #121212;
      font-size: 16px;
    }
    > .active > a,
    > .active > a:hover,
    > .active > a:focus {
      color: #fff;
      background: #ff7a00;
    }
  }
  .dropdown-toggle {
    color: #000000;
    font-size: 18px;
    font-family: "Roboto-Light", sans-serif;
    margin: 15px 40px 10px 0;
    text-decoration: none;
    display: inline-block;
    .b-caret {
      width: 10px;
      height: 6px;
      background: url(../../images/ico-arrow-to-down.png) no-repeat center;
      display: inline-block;
      margin-left: 2px;
      vertical-align: middle;
    }
  }
}
.responses-item {
  margin: 0 0 30px;
  border-bottom: 1px solid $filter-header-border-gray;
  padding-bottom: 33px;
  .text-filling {
    font-size: 48px;
    font-family: "Roboto-Regular", sans-serif;
    margin-right: 12px;
  }
  .text-grey {
    font-size: 28px;
    color: #cbcbcb;
    font-family: "Roboto-Medium", sans-serif;
  }
  .btn-orange, .btn-grey {
    margin: 15px 0 0;
    font-family: 'Roboto-Regular', sans-serif;
  }
}
.responses-item__img {
  width: 100%;
  max-width: 359px;
  margin: 0 auto;
  img {
    max-width: 100%;
    width: 100%;
  }
}
.responses-item__star {
  overflow: hidden;
  margin-bottom: 15px;
  display: inline-block;
}
.star-item {
  width: 16px;
  height: 16px;
  float: left;
  margin-right: 5px;
}
.icon-star, .icon-star-empty {
  display: block;
  width: 16px;
  height: 16px;
  background-size: contain;
  background-repeat: no-repeat;
}
.icon-star {
  background: url(../images/star.png);
}
.icon-star-empty {
  width: 18px;
  height: 18px;
  background: url(../images/star-empty.png);
}
.responses-item__rate {
  padding-right: 27px;
}
.restaurant-name {
  color: #141414;
  font-size: 18px;
  font-family: 'Roboto-Medium', sans-serif;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.restaurant-info {
  color: #171717;
  font-size: 16px;
  font-family: "Roboto-Light", sans-serif;
}
.average-check {
  width: 100%;
  float: none;
  position: relative;
  padding-left: 40px;
  &:before {
    content: url("../../images/ico-wallet.png") ;
    position: absolute;
    left: 0;
    top: 9px;
  }
  .sum {
    color: $green;
    font-size: 24px;
    font-family: "Roboto-Medium", sans-serif;
  }
  .currency {
    font-size: 14px;
  }
  .b-title {
    display: inline-block;
    margin-right: 19px;
    position: relative;
    top: -3px;
  }
}
.restaurant-address {
  width: 100%;
  float: none;
  position: relative;
  padding-left: 40px;
  &:before {
    content: url("../../images/icon-map.png") ;
    position: absolute;
    left: 0;
    top: 9px;
  }
}
.all-responses {
  display: inline-block;
  color: $light-black;
  font-size: 16px;
  font-family: "Roboto-Light", sans-serif;
  text-decoration: underline;
  cursor: pointer;
  line-height: 1em;
  margin-left: 20px;
  vertical-align: top;
}

.client-page {
  .sorting-item {
    margin-top: 15px;
  }

  .select2-container--sorting {
    width: 100% !important;

    .select2-selection--single {
      .select2-selection__rendered {
        text-align: right;
        padding-right: 30px;
      }
    }
  }
}