$white: #fff;

$filter-header-gray: #f0f0f0;

$filter-header-border-gray: #e5e5e5;

$lightest-gray: #fefefe;

$restaurant-main-content-bg: #f5f5f5;

$price-range-bg: #d9d9d9;

$lighter-gray: #bcbcbc;

$light-gray: #a1a1a1;

$middle-gray: #919191;

$lighter-gray-opacity: rgba(213, 213, 213, 0.7);

$pagination-gray: #5f5f5f;

$form-title-gray: rgba(174, 174, 174, 0.5);

$restaurant-tabs-lighter-gray: #999999;

$restaurant-tabs-gray: #666666;

$gray: #333;

$dark-gray: #393939;

$darkest-gray: #242424;

$brown: #562a10;

$bg-gray: #2e2e33;

$black-opacity: rgba(0, 0, 0, 0.15);

$black-dark-opacity: rgba(0, 0, 0, 0.5);

$light-black: #171717;

$black: #000;

$section-popular-beige: #ffefe5;

$main-orange: #ff6000;

$main-orange-opacity: rgba(255, 96, 0, 0.81);

$main-orange-hover: #ee5900;

$notification-orange: #e9591a;

$price-range-corner: #e36009;

$price-range-orange-opacity: rgba(255, 47, 0, 0.2);

$light-orange-opacity: rgba(255, 174, 0, 0.9);

$orange: #ff7800;

$bright-orange: #ff5500;

$gradient-start-color: #ffb400;

$gradient-end-color: #ff6000;

$tab-reviews-orange: #ff4700;

$gradient-start-color-opacity: rgba(255, 180, 0, 0.9);

$gradient-end-color-opacity: rgba(255, 47, 0, 0.9);

$red: #ff0202;

$error-red: #e46e6e;

$blue: #20a4cf;

$dark-blue: #4582de;

$green: #27bb23;

$lightPink: #fff1e5;

$discount: #ff0202;