html {
	height: 100%;
}

body {
	font-family: 'Roboto', sans-serif;
	min-height: 100%;
	height: 100%;
	background-color: $bg-gray;
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

label, input {
	font-weight: normal;
}

.home-page {
	max-width: 1920px;
	margin: 0 auto;
	width: 100%;
}

.container-customized {
	max-width: 1280px;
	margin: 0 auto;
	width: 100%;
}

.header-form {
	select {
		width: 220px;
	}
}

.item-person .select2-selection--single:before {
	content: url(../images/ico-person.png) !important;
}

.item-time .select2-selection--single:before {
	content: url(../images/ico-clock.png) !important;
	padding: 6px 0;
}

.item-location {
	select {
		width: 140px;
	}

	.select2-selection--single {
		-webkit-box-shadow: inset 0 0 2px $bright-orange;
		-moz-box-shadow: inset 0 0 2px $bright-orange;
		box-shadow: inset 0 0 2px $bright-orange;
		height: 32px;

		&:hover, &:focus {
			-webkit-box-shadow: inset 0 0 2px $bright-orange;
			-moz-box-shadow: inset 0 0 2px $bright-orange;
			box-shadow: inset 0 0 2px $bright-orange;
		}

		&:before {
			content: '';
			border: none;
			width: 0;
		}

		&:after {
			padding: 0 7px;
		}

		.select2-selection__rendered {
			font-family: 'Roboto-Light', sans-serif;
			font-size: 14px;
			font-weight: normal;
			text-transform: uppercase;
			line-height: 32px;
		}
	}
}

.input-item-customized {
	width: 220px;
	background-color: $white;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	cursor: pointer;

	.bs-datepicker input.header-date-time-picker::-ms-clear {
		display: none;
	}

	.bs-datepicker input, .choose-place input {
		text-align: center;
		font-weight: bold;
		height: 47px;
		line-height: 47px;
		cursor: pointer;
		-webkit-border-radius: 5px !important;
		-moz-border-radius: 5px !important;
		border-radius: 5px !important;
		border: none;
		outline: none;
	}


	.bs-datepicker input:focus, .bs-datepicker:hover input,
	.choose-place input:focus, .choose-place:hover input {
		-webkit-box-shadow: inset 0 0 0px 3px $main-orange;
		-moz-box-shadow: inset 0 0 0px 3px $main-orange;
		box-shadow: inset 0 0 0px 3px $main-orange;
		outline: none;
	}

	.choose-place {
		input {
			padding-left: 50px;
		}
	}

	.bs-datepicker:before, .choose-place:before {
		content: '';
		position: absolute;
		top: 3px;
		left: 0px;
		z-index: 5;
		padding: 8px 0px;
		line-height: 0em;
		opacity: 0.6;
		width: 45px;
		height: 41px;
		text-align: center;
	}
	.bs-datepicker:before {
		content: url(../images/ico-datepicker.png);
	 }
	.choose-place:before {
		content: url(../images/ico-place.png);
	}

	.bs-datepicker:after {
		content: url(../images/ico-arrow-to-down.png);
		position: absolute;
		top: 3px;
		right: 5px;
		z-index: 5;
		padding: 10px 7px;
		opacity: 0.6;
		cursor: pointer;
	}
}

.bs-datepicker {

	.bootstrap-datetimepicker-widget {

		&.dropdown-menu {
			width: 100%;
			-webkit-box-shadow: 0 0 10px $middle-gray;
			-moz-box-shadow: 0 0 10px $middle-gray;
			box-shadow: 0 0 10px $middle-gray;
		}

		table {
			td.day {
				font-size: 0.9em;
			}
			td.active, td.active:hover {
				background-color: $border-color;
			}
			td.today::before {
				border-bottom-color: $border-color;
			}
			td.active.today::before {
				border-bottom-color: $white;
			}
			th.dow {
				color: $blue;
			}
			th.dow:last-child, th.dow:nth-last-child(2) {
				color: $main-orange;
			}
		}
	}
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active), (min-width:0\0) {
	.header-date-time-picker {
		padding-top: 0px;
		line-height: 3.4;
	}
	.header-date-time-picker:hover, .header-date-time-picker:focus {
		line-height: 3;
	}
}

.btn-orange-gradient {
	font-family: 'Roboto-Bold', sans-serif;
	font-size: 18px;
	display: block;
	color: $white;
	text-transform: uppercase;
	padding: 12px 10px;
	background-color: $main-orange;
	outline: none;
	border: none;
}

.btn-orange-gradient:hover {
	background-color: $main-orange-hover;
	color: $white;
}

.shareRoundIcons {

	.jssocials-share {
		margin-right: 1em;

		&:last-child {
			margin-right: 0;
		}

		.jssocials-share-link {
			border-radius: 50%;
			overflow: hidden;
			background: $white;
			-webkit-transition: background 0ms ease-in-out, border-color 0ms ease-in-out;
			transition: background 0ms ease-in-out, border-color 0ms ease-in-out;

			&:hover {
				background: $main-orange;
				filter: none !important;

			}

			.jssocials-share-logo {
				color: $black;
				font-size: 1.3em;
			}
		}
	}
}

.text-filling {
	color: $gradient-end-color;
	display: inline-block;
	@include gradient-directional($gradient-end-color, $gradient-start-color, 160deg);
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	/* Activate hardware acceleration for smoother animations */
	-webkit-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
}

.rating-score {
	margin-top: -7px;
	margin-right: 40px;

	.current-score {
		font-size: 48px;
		line-height: 48px;
	}

	.common-score {
		font-size: 28px;
		color: $lighter-gray;
		padding-left: 10px;
	}
}

.btn-link-orange {
	color: $main-orange;
	text-decoration: underline;
	font-size: 16px;

	&:hover {
		text-decoration: none;
		color: $middle-gray;
	}

	&:focus, &:active:focus {
		outline: none;
		color: $main-orange-hover;
	}
}

.btn-orange {
	background-color: $main-orange;
	color: $white;
	line-height: 1;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 15px 20px;
	font-size: 18px;
	font-family: 'Roboto-Bold', sans-serif;
	text-transform: uppercase;
	vertical-align: top;

	&:hover {
		background-color: $main-orange-hover;
		color: $white;
	}

	&:focus {
		outline: none;
		color: $white;
	}

	&:focus:active {
		outline: none;
	}
}

.btn-grey {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-transform: uppercase;
	color: $white;
	background-color: #d1d1d1;
	line-height: 1;
	padding: 15px 20px;
	font-size: 18px;
	font-family: 'Roboto-Bold', sans-serif;

	&:hover {
		background-color: #e6e6e6;
		border-color: #adadad;
		color: $white;
	}

	&:focus {
		outline: none;
	}

	&:focus:active {
		outline: none;
	}
}

.restaurant-discount {
	position: absolute;
	top: 0;
	display: inline-block;
	padding: 5px 0px;
	width: 50px;
	text-align: center;
	background-color: $red;
	color: $white;
	font-family: 'Roboto-Medium', sans-serif;
	font-size: 18px;
}

.favorite-place {
	position: absolute;
	right: 0;
	top: 0;
	width: 40px;
	height: 40px;
	background-color: $filter-header-gray;

	i {
		color: $middle-gray;
		text-align: center;
		display: block;
		padding-top: 12px;
		font-size: 25px;

		&:hover, &.active {
			color: $main-orange;
		}
	}
}

.text-gray {
	color: $middle-gray;
}

.available-tables {
	font-family: 'Roboto-Light', sans-serif;
	display: inline-block;
	font-size: 16px;
	color: $lighter-gray;

	.available-tables-quantity {
		color: $green;
		font-weight: bold;
		padding-right: 5px;
	}

	.not-available-tables-quantity {
		color: $red;
	}
}

.checkbox-custom {
	position: absolute;
	opacity: 0;

	& + label {
		position: relative;
		cursor: pointer;
		padding: 0;
	}

	& + label:before {
		content: '';
		margin-right: 10px;
		display: inline-block;
		vertical-align: text-top;
		width: 20px;
		height: 20px;
		background: $white;
		-webkit-box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.12);
		-moz-box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.12);
		box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.12);
	}

	&:hover + label:before {
		background: $main-orange;
	}

	&:checked + label:before {
		background: $main-orange;
	}

	&:disabled + label {
		color: $lighter-gray;
		cursor: auto;
	}

	&:disabled + label:before {
		box-shadow: none;
		background: $price-range-bg;
	}

	&:checked + label:after {
		content: url(../images/ico-check.png);
		position: absolute;
		left: 5px;
		top: -3px;
	}
}