.filter-page {
	background: $white;
	padding-top: 80px;

	.container-customized {
		max-width: 1260px;
	}

	.restaurant-discount {
		left: 30px;
	}
}

.breadcrumb-customized {
	margin-bottom: 0;
	background-color: $white;
	padding: 14px 0;

	li {
		font-size: 12px;

		a {
			color: $lighter-gray;
		}
	}

	& > li + li:before {
		content: '->';
	}
}

.header-filters {

	.header-top-filters {
		background-color: $filter-header-gray;
		border-bottom: 1px solid $filter-header-border-gray;

		label {
			width: 100%;
		}

		.input-group {
			margin-top: 15px;
			@extend label;

			select {
				@extend label;
			}
		}

		.select2-container .select2-selection--single .select2-selection__rendered {
			color: $main-orange;
		}

		.input-item-customized input {
			color: $main-orange;

			&::-webkit-input-placeholder {
				color: $main-orange;
			}
			&::-moz-placeholder {
				color: $main-orange;
			}
			&:-moz-placeholder {
				color: $main-orange;
			}
			&:-ms-input-placeholder {
				color: $main-orange;
			}
		}
	}

	.header-more-filters {
		background: $filter-header-gray;
		overflow: hidden;
	}

	.refine-search {
		text-align: center;
		color: $dark-gray;
		border-right: 1px solid $filter-header-border-gray;
		padding-bottom: 200px;
		margin-bottom: -200px;

		.more-filters-title {
			font-family: 'BebasNeue Bold', sans-serif;
			margin-top: 26px;
			line-height: 36px;
		}

		p {
			padding-top: 24px;
			line-height: 24px;
		}
	}

	.filters {
		padding-top: 30px;

		.filter-item {
			vertical-align: top;

			select {
				width: 100%;
			}
		}
	}

	.price-range-block {
		font-family: 'Roboto-Light', sans-serif;
		font-size: 16px;
		margin-top: 30px;
		margin-bottom: 20px;

		.price-fields {
			label {
				margin-left: 20px;
				margin-right: 10px;
			}
			input {
				font-family: 'Roboto-Medium';
				font-size: 16px;
				width: 70px;
				background-color: $white;
				-webkit-border-radius: 2px;
				-moz-border-radius: 2px;
				border-radius: 2px;

				&:focus {
					border-color: $main-orange;
					-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px $price-range-orange-opacity;
					box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px $price-range-orange-opacity;
				}
			}
		}
	}

	.btn-orange {
		font-family: 'Roboto-Bold', sans-serif;
		padding: 20px 90px;
		margin-top: 18px;
		line-height: 1;
	}
}

.filter-label {
	font-family: 'Roboto-Medium', sans-serif;
	font-size: 16px;
	text-align: center;
	color: $light-black;
	cursor: pointer;

	&:focus {
		outline: none;
	}

	&:after {
		content: url(../images/ico-arrow-to-down.png);
		opacity: 0.3;
		padding-left: 20px;
	}
}

.price-range {
	margin-top: 15px;

	.price-range-text {
		text-align: center;
		color: $lighter-gray;
		padding-top: 10px;
	}

	.ui-widget-content {
		border: none;
		background: $price-range-bg;
	}

	.ui-slider-horizontal {
		height: 3px;
	}

	.ui-widget-header {
		background: $main-orange;
	}

	.ui-slider {
		.ui-slider-handle {
			width: 2px;
			height: 5px;
			background: $price-range-corner;
			border: none;
			margin-left: 0;
			top: -2px;
			position: relative;

			&:before {
				content: url(../images/ico-arrow-orange.png);
				width: 11px;
				height: 6px;
				position: absolute;
				top: -17px;
				left: -4px;
			}
		}

		.ui-slider-lower-price, .ui-slider-upper-price {
			font-family: 'Roboto-Medium', sans-serif;
			font-size: 16px;
			color: $light-black;
			position: absolute;
			top: -30px;
			left: -15px;
		}
	}

	.ui-corner-all {
		-webkit-border-radius: 0px;
		-moz-border-radius: 0px;
		border-radius: 0px;
	}
}

.hide-extended-form-btn {
	i {
		cursor: pointer;
		color: $middle-gray;

		&:hover {
			color: $dark-gray;
		}
	}
}

.places-list {
	.places-list-header {
		border-bottom: 1px solid $filter-header-border-gray;
		padding: 0px 15px 7px 10px;
	}

	.places-header-text {
		display: inline-block;
		font-size: 18px;
		font-weight: normal;
		color: $lighter-gray;
		margin: 14px 0px 0px;
		padding: 0;
	}

	.places-list-item {
		padding: 30px 0px;
		border-bottom: 1px solid $filter-header-border-gray;
		margin-left: 0;
		margin-right: 0;
		-webkit-transition: box-shadow 0.2s;
		-moz-transition: box-shadow 0.2s;
		-ms-transition: box-shadow 0.2s;
		-o-transition: box-shadow 0.2s;
		transition: box-shadow 0.2s;

		&:hover {
			-webkit-box-shadow: 0 0 15px $lighter-gray;
			-moz-box-shadow: 0 0 15px $lighter-gray;
			box-shadow: 0 0 15px $lighter-gray;
		}
	}

	.places-list-item-img {
		position: relative;
		max-height: 230px;
		overflow: hidden;

		a {
			&:hover {
				text-decoration: none;
			}
		}

		img {
			width: 360px;
		}
	}

	.places-list-item-description {
		padding-left: 0;

		.place-stars-block {
			img {
				width: 18px;
			}
		}

		.reviews-quantity {
			font-family: 'Roboto-Light', sans-serif;
			font-size: 16px;
			line-height: 18px;
			color: $light-black;
			text-decoration: underline;
			padding-left: 15px;
			padding-right: 20px;

			&:hover {
				text-decoration: none;
			}
		}

		.place-title {
			font-family: 'Roboto-Medium', sans-serif;
			font-size: 18px;
			line-height: 24px;
			color: $light-black;
			max-width: 460px;
			margin-top: 13px;
			display: inline-block;
		}

		.place-item-details {
			margin-top: 10px;

			.address-block, .bill-block {
				margin-top: 0;
				display: inline-block;
				vertical-align: middle;
				float: none;
			}

			.place-details-icon {
				margin-right: 15px;
			}

			.place-details-text {
				font-family: 'Roboto-Light', sans-serif;
				font-size: 16px;
				line-height: 24px;
				color: $light-black;
				margin: 0;
				padding: 0;
			}

			.average-bill-amount {
				font-family: 'Roboto-Medium', sans-serif;
				font-size: 24px;
				line-height: inherit;
				color: $green;
				padding-left: 10px;
				padding-right: 5px;
			}
		}

		.btn-booking {
			font-family: 'Roboto-Medium', sans-serif;
			font-size: 18px;
			margin-top: 10px;
			margin-left: -10px;
		}
	}
}

.sorting-item {
	width: 230px;
}

.place-rating {
	.place-stars-block {
		display: inline-block;
	}
}

.pagination-customized {
	margin: 50px 0;

	li {
		display: inline-block;
		margin: 0 5px;

		a, &>span {
			font-family: 'Open Sans Light', sans-serif;
			font-size: 16px;
			color: $pagination-gray;
			padding: 3px 10px;
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;
		}

		&.active > a, &.active > span, &.active > a:hover, &.active > span:hover, &.active > a:focus, &.active > span:focus {
			background-color: $main-orange;
			border-color: $main-orange;
		}

		a:hover, span:hover, a:focus, span:focus {
			background-color: $white;
			border-color: $main-orange;
			color: $pagination-gray;
		}

		&:first-child a, &:first-child span, &:last-child a, &:last-child span {
			background-color: $filter-header-border-gray;
			color: $lighter-gray;
		}

		&:first-child a:hover, &:first-child span:hover, &:last-child a:hover, &:last-child span:hover {
			background-color: $filter-header-border-gray;
			border-color: $lighter-gray;
		}

		&.disabled > span, &.disabled > span:hover, &.disabled > span:focus, &.disabled > a, &.disabled > a:hover, &.disabled > a:focus {
			border-color: #ddd;
			cursor: not-allowed;
		}
	}
}

.pagination > li.pagination-more > a {
	border: none;
	padding: 0 0 7px;
}

.place-features {
	margin-top: 15px;

	.place-feature-item {
		display: inline-block;
		width: 25px;
		height: 25px;

		&:not(:last-child) {
			margin-right: 15px;
		}

		&:hover {
			cursor: pointer;
		}
	}

	.place-feature-parking {
		background: url(../images/ico-parking-gray.png) no-repeat scroll center center transparent;

		&:hover {
			background-image: url('../images/ico-parking-orange.png');
		}
	}

	.place-feature-cocktail {
		background: url(../images/ico-cocktail-gray.png) no-repeat scroll center center transparent;

		&:hover {
			background-image: url('../images/ico-cocktail-orange.png');
		}
	}

	.place-feature-smoking {
		background: url(../images/ico-smoking-gray.png) no-repeat scroll center center transparent;

		&:hover {
			background-image: url('../images/ico-smoking-orange.png');
		}
	}

	.tooltip.in {
		opacity: 1;
	}

	.tooltip.bottom .tooltip-arrow {
		border-bottom-color: $white;
		margin-left: -10px;
		border-width: 0 10px 5px;
	}

	.tooltip-inner {
		font-family: 'ClearSans-Light', sans-serif;
		font-size: 18px;
		color: $black;
		background-color: $white;
		padding: 10px;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
		-webkit-box-shadow: 0 0 10px $middle-gray;
		-moz-box-shadow: 0 0 10px $middle-gray;
		box-shadow: 0 0 10px $middle-gray;
		min-width: 100px;
	}
}

.modal-reservation {
	.modal-dialog {
		max-width: 740px;
		width: 90% !important;
		margin: 20px auto !important;
	}

	form {
		font-size: 18px;

		p, label {
			font-family: 'Roboto-Light', sans-serif;
			color: $restaurant-tabs-gray;
		}

		.form-group {
			margin-bottom: 0;
		}

		.form-row {
			margin-bottom: 20px;
		}
	}

	.form-control {
		&:focus {
			border-color: $main-orange;
			outline: 0;
			-webkit-box-shadow: inset 0 0 1px $main-orange, 0 0 5px $main-orange;
			box-shadow: inset 0 0 1px $main-orange, 0 0 5px $main-orange;
		}
	}

	.input-group {
		width: 100%;

		.select2-container {
			width: 100%;
			display: block;
		}

		.select2-selection__rendered {
			line-height: 2.5em;
		}

		.modal-date-time-picker {
			border: 1px solid $filter-header-border-gray;
			height: 50px;
		}

		.select2-selection {
			@extend  .modal-date-time-picker;
		}
	}

	.select2-container--orange {
		.select2-selection--single{
			&:after {
				top: 0;
			}
		}
	}

	.input-item-customized {
		.bs-datepicker{
			&:after {
				top: 0;
			}
		}
	}

	.modal-body {
		.btn-orange {
			margin: 15px auto 0;
		}
	}
}