.footer {
	background: $bg-gray;
}
.footer-content {
	background: $bg-gray;
	color: $white;
	padding: 50px 0px;
}

.footer-item {
	padding: 35px 40px 0px;
	min-height: 300px;

	&:not(:last-child) {
		border-right: 2px solid $lighter-gray;
		height: 100%;
	}

	a {
		font-size: 1em;
		color: $white;

		&:hover {
			text-decoration: underline;
			color: $white;
		}

		&:visited, &:focus {
			text-decoration: none;
			outline: none;
		}
	}

	ul li:not(:last-child) {
		padding-bottom: 34px;
	}

	.jssocials-share:not(:last-child) {
		margin-right: 10px;
	}
}

.item-contacts {

	p {
		padding-bottom: 10px;

		&.text-contacts {
			padding-top: 0;
			padding-bottom: 5px;
			font-weight: bold;
			color: $main-orange;
		}
	}
}

.filter-page, .restaurant-page {
	.footer {
		margin-top: 35px;

		.jssocials {
			margin-top: 25px;
		}
	}

	.footer-content {
		padding: 30px 0;
	}

	.footer-item {
		padding: 25px 20px 0;
		border-right: none;
		min-height: 100%;

		p {
			font-size: 16px;
		}

		.footer-logo {
			float: left;
			margin-bottom: 15px;
			width: 70px;
			margin-right: 20px;
		}
	}

	.item-app {
		h2 {
			font-family: 'Open Sans Semibold', sans-serif;
			font-size: 26px;
			margin-top: 50px;
			margin-bottom: 30px;
		}

		.item-app-img {
			margin-top: 15px;

			a {
				display: inline-block;

				&:first-child {
					margin-right: 30px;
				}
			}
			img {
				width: 130px;
			}
		}
	}

	.item-contacts {
		p {
			padding-bottom: 5px;
		}
	}
}
