.header {
	height: 837px;

	.header-menu {
		position: absolute;
		width: 100%;
		max-width: 1920px;
	}

	.navbar-menu-customized {
		background: none;
		border: none;
		width: 82%;
		margin-top: 10px;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;

		.navbar-nav-customized {

			li a {
				color: $white;
				padding: 15px 40px 10px;
				font-size: 1em;
			}

			.active > a, .active > a:hover, .active > a:focus, .navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
				color: $white;
				background: none;
				filter: none;
			}

		}

		&.open {
			background: $main-orange;
			margin: 0px;
			-webkit-border-radius: 0px;
			-moz-border-radius: 0px;
			border-radius: 0px;
			height: 100%;
			z-index: 100;

			.navbar-collapse {
				border: none;
				-webkit-box-shadow: none;
				-moz-box-shadow: none;
				box-shadow: none;
			}

			.navbar-toggle-customized {
				float: right !important;
			}

			#navbar-close {
				color: $white;
				font-size: 1.5em;
			}
		}
	}

	.menu-container {
		width: 100%;
	}

	.header-left-section {
		width: 18.5%;
		background: url(../images/header-wooden-bg.jpg) no-repeat scroll 0 0 $brown;
		height: 100%;

		.logo {
			margin-top: 64px;
			text-align: center;

			img {
				position: relative;
				z-index: 10;
			}
		}
		.header-form {
			max-width: 225px;
			width: 100%;
			margin: -5px auto 0px;
			padding: 0px 3px;
			z-index: 20;
			position: relative;

			.btn-find-restaurant {
				width: 220px;
				margin: 24px auto 0px;
				padding: 17px 10px;
			}

			.btn-link {
				font-size: 16px;
				text-align: center;
				color: $white;
				text-decoration: underline;
				display: block;
				margin-top: 11px;
				font-weight: bold;
			}

		}

		.shareRoundIcons {
			margin-top: 1.6em;
		}
	}
	.header-right-section {
		width: 81.5%;
		background: url(../images/header-main-bg.jpg) no-repeat scroll center bottom $bg-gray;
		height: 100%;
	}

	.header-title-block {
		text-align: center;
		margin-top: 172px;

		.title {
			-webkit-transform: rotate(-3deg);
			-moz-transform: rotate(-3deg);
			-ms-transform: rotate(-3deg);
			-o-transform: rotate(-3deg);
			transform: rotate(-3deg);
			font-size: 5.2em;
			font-weight: bold;
			font-style: italic;
			color: $white;
			line-height: 1em;
			display: inline-block;
			margin: 30px auto 0px;
			width: 90%;

		}
	}

}

.navbar-right-block {
	width: 18%;
	margin: 0px;

	.search-box {
		position: relative;
		width: 77%;
		margin-top: 16px;
	}
	.search {
		width: 70%;
		max-width: 0;
		padding: 8px 35px 8px 10px;
		transition: all .5s ease;
		position: absolute;
		right: 20px;
		box-sizing: border-box;
		opacity: 0;
		-webkit-border-radius: 8px;
		-moz-border-radius: 8px;
		border-radius: 8px;
		border: none;
	}
	.search.expanded {
		max-width: 220px;
		opacity: 1;
	}
	.icon-search {
		position: absolute;
		right: 30px;
		top: 8px;
		cursor: pointer;
	}

	.login-box {
		margin-top: 16px;

		&.logged-in {
			cursor: pointer;
		}
	}
}

.home-page {
	.navbar-menu-customized {
		width: 82%;
		.navbar-nav-customized {
			.active > a, .active > a:hover, .active > a:focus, li > a:hover, li > a:focus {
				color: $main-orange;
				-webkit-transition: all 0.2s ease-in;
				-moz-transition: all 0.2s ease-in;
				-ms-transition: all 0.2s ease-in;
				-o-transition: all 0.2s ease-in;
				transition: all 0.2s ease-in;
			}
		}
	}

	.navbar-right-block {
		width: 18%;
	}

	.btn-dropdown-customized {
		color: $white;
	}

	.open > .dropdown-toggle.btn-dropdown-customized, .btn-dropdown-customized:active:hover, .btn-dropdown-customized.active:hover, .open > .dropdown-toggle.btn-dropdown-customized:hover, .btn-dropdown-customized:active:focus, .btn-dropdown-customized.active:focus, .open > .dropdown-toggle.btn-dropdown-customized:focus, .btn-dropdown-customized.focus:active, .btn-dropdown-customized.active.focus, .open > .dropdown-toggle.btn-dropdown-customized.focus {
		color: $white;
	}
}

// prevent broken bootstrap animation
.navbar-collapse.collapsing {
	-webkit-transition: height 0.01s;
	-moz-transition: height 0.01s;
	-ms-transition: height 0.01s;
	-o-transition: height 0.01s;
	transition: height 0.01s;
}

//header navigation
.header-customized {
	height: auto;

	.navbar-menu-customized {
		background: $white;
		width: auto;
		margin: 0;
		-webkit-box-shadow: 0px 0px 10px $lighter-gray;
		-moz-box-shadow: 0px 0px 10px $lighter-gray ;
		box-shadow: 0px 0px 10px $lighter-gray ;

		.navbar-nav-customized {
			li a {
				padding: 10px 25px;
				color: $darkest-gray;
			}


			.active > a, .active > a:hover, .active > a:focus, &.navbar-nav > li > a:hover, &.navbar-nav > li > a:focus {
				color: $main-orange;
				-webkit-box-shadow: none;
				-moz-box-shadow: none;
				box-shadow: none;
			}
		}
	}

	.navbar-nav-customized {
		margin-left: 10px;
		margin-top: 19px;
	}

	.navbar-brand-logo {
		width: 83px;
		height: auto;
		margin: 10px 0px 10px 0px;
		padding: 0;
	}

	.header-location-form {
		padding: 0;
		margin: 22px 0px 0px 37px !important;
	}
}

.navbar-right-block {
	width: 23%;
	height: 100%;

	.login-box {
		width: 80%;
		margin-top: 5px;
		list-style: none;

		&.logged-out {
			margin-top: 25px;
			padding-right: 20px;
			width: auto;

			ul {
				margin: 0;
				padding: 0;
			}

			li {
				display: inline-block;

				a {
					padding: 0 10px;
					color: $white;

					&:hover {
						color: $main-orange;
						text-decoration: none;
					}

					&:focus {
						outline: none;
					}
				}

				&:first-child {
					border-right: 1px solid $white;
				}
			}
		}
		.dropdown-menu {
			right: 9px;
			left: auto;
			top: 55px;
			border: none;
			-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.21);
			box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.21);
			&:after {
				content: url("../../images/icon-pop-up.png");
				position: absolute;
				top: -16px;
				right: 20px;
			}

			a {
				font-size: 18px;
				font-family: "ClearSans-Light", sans-serif;
				&:hover, &:active {
					color: #2778c4;
					background: transparent;
				}
			}
		}
	}

	.search-box {
		float: left;
		width: 20%;
		margin-top: 17px;
	}

	.search {
		-webkit-box-shadow: 0 0 3px $lighter-gray;
		-moz-box-shadow: 0 0 3px $lighter-gray;
		box-shadow: 0 0 3px $lighter-gray;
		width: 220px;
		right: 0;

		&:hover, &:focus {
			outline: none;
		}
	}

	.icon-search {
		right: 10px;
	}

	.logged-in {
		.icon-login {
			width: 57px;
			height: 57px;
			margin-right: 2px;
			overflow: hidden;
			-webkit-border-radius: 50%;
			-moz-border-radius: 50%;
			border-radius: 50%;

			img {
				width: 100%;
			}
		}
	}
}

.header-customized {
	.login-box {
		&.logged-out {
			li {
				a {
					color: $main-orange;

					&:hover {
						color: $restaurant-tabs-lighter-gray;
					}
				}

				&:first-child {
					border-right: 1px solid $main-orange;
				}
			}
		}
	}
}

.dropdown-customized {
	margin-top: 10px;

	&:hover, &:focus {
		outline: none;
	}
}

.btn-dropdown-customized {
	font-family: 'MuseoSansCyrl-500', sans-serif;
	font-size: 18px;
	color: $black;
	background: none;
	border: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	&:hover, &:focus {
		outline: none;
		background: none;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}

	.login-name {
		font-family: 'ClearSans-Light', sans-serif;
		display: inline-block;
		max-width: 95px;
		white-space: nowrap;
		overflow: hidden;
		-ms-text-overflow: ellipsis;
		text-overflow: ellipsis;
	}

	.caret-customized {
		display: inline-block;
		vertical-align: top;
	}
}

.open > .dropdown-toggle.btn-dropdown-customized, .btn-dropdown-customized:active:hover, .btn-dropdown-customized.active:hover, .open > .dropdown-toggle.btn-dropdown-customized:hover, .btn-dropdown-customized:active:focus, .btn-dropdown-customized.active:focus, .open > .dropdown-toggle.btn-dropdown-customized:focus, .btn-dropdown-customized.focus:active, .btn-dropdown-customized.active.focus, .open > .dropdown-toggle.btn-dropdown-customized.focus {
	background: none;
	outline: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.dropdown-notification {
	position: relative;
	padding-top: 10px;
}
.b-notification__num {
	display: block;
	width: 17px;
	height: 17px;
	background-color: $notification-orange;
	border-radius: 100%;
	position: absolute;
	top: 10px;
	right: 3px;
	color: #ffffff;
	font-size: 11px;
	font-family: "ClearSans-Light", sans-serif;
}
.dropdown-menu-notification {
	width: 360px;
	padding: 20px 0 10px 20px!important;
	top: 65px!important;
	right: -169px!important;
	left: auto;
	&:after {
		right: 50%!important;
		margin-right: -1px;
	}
	a.link-black {
		float: right;
		padding: 0 10px 10px 20px!important;
		&:link, &:visited {
			text-decoration: none;
		}
		&:hover, &:active {
			background: transparent;
			text-decoration: underline;
		}
	}

}
.link-black {
	&:link,
	&:visited {
		color: #282828;
		font-size: 16px;
	}
}

.event-title {
	color: #000000;
	font-size: 16px;
	font-family: "MuseoSansCyrl-300", sans-serif;
	text-transform: uppercase;
	display: inline-block;
}
.event-item {
	border-bottom: 1px solid $filter-header-border-gray;
	a {
		margin-top: 15px;
		padding: 0 0 20px!important;
		&:hover, &:focus {
			background: transparent!important;
		}
	}

	.restaurant-logo {
		padding: 5px 0 0;
		width: 35px;
		margin-right: 10px;
	}

	&.unread {
		position: relative;
		&:after {
			content: '';
			display: block;
			width: 9px;
			height: 9px;
			position: absolute;
			right: 10px;
			top: 5px;
			background-color: $main-orange;
			border-radius: 100%;
		}
	}

	blockquote {
		float: left;
		margin: 0 30px 0 0;
		padding: 0;
		width: 265px;
		border: none;
	}

	.event-name {
		font-size: 16px;
		color: #000000;
		font-family: "Roboto-Medium", sans-serif;
		margin-right: 15px;
		padding: 0;
	}
	.event-entry {
		font-size: 16px;
		color: #282828;
		font-family: "ClearSans-Light", sans-serif;
	}
	.event-entry__grey {
		font-size: 16px;
		color: #999999;
		font-family: "ClearSans-Light", sans-serif;
	}
	&:last-child {
		border: none;
	}
}
