
.left-form-animation {
	-webkit-transform: translate(-70%, -50%);
	-moz-transform: translate(-70%, -50%);
	-ms-transform: translate(-70%, -50%);
	-o-transform: translate(-70%, -50%);
	transform: translate(-70%, -50%);
}

.right-form-animation {
	-webkit-transform: translate(0%, -50%);
	-moz-transform: translate(0%, -50%);
	-ms-transform: translate(0%, -50%);
	-o-transform: translate(0%, -50%);
	transform: translate(0%, -50%);
}
.float-right {
	float: right;
}
.header-form-item {
	min-height: 60px;
}

.col-half-offset {
	margin-left: 3.8%;
}

.col-sm-5th {
	width: 19.7%;
}
.page-top-padding {
	padding-top: 80px;
}