.main-content {

	.popular-section {
		background-color: $filter-header-gray;
	}

	.handwriting-title {
		font-family: 'Roboto-Bold', sans-serif;
		font-size: 2.8em;
		color: $dark-gray;
		text-align: center;
		margin: 0px;
		padding-top: 67px;
	}

	.app-section {
		background-color: $white;
		@include gradient-directional($gradient-end-color, $gradient-start-color, 120deg);
		height: 535px;
		background-position: center bottom;
		background-size: 100% 48%;
		position: relative;

		.download-app {
			margin-left: 4em;
			margin-top: 125px;
			font-family: 'Roboto-Medium', sans-serif;
			color: $dark-gray;

			h3 {
				font-size: 2.9em;
			}
			h5 {
				font-size: 1.9em;
				margin-top: 23px;
			}
			p {
				color: $lightest-gray;
				font-size: 1.3em;
				margin-top: 100px;
			}
		}
		.app-icons {
			margin-top: 20px;

			div {
				padding-left: 0px;
			}
		}

		.young-couple {
			position: absolute;
			bottom: -2px;
			right: 67px;
		}

	}

	.restaurants-block {
		margin-top: 30px;
		margin-bottom: 90px;
	}

	.recommended-section {
		background-color: $white;

		.restaurants-block {
			margin-bottom: 62px;
		}
	}
}


.grid-stack-item-content {
	background-repeat: no-repeat;
	background-position: center center;
	position: relative;
	overflow: hidden !important;

	&:hover:before, &:hover:after {
		content: '';
		position: absolute;
		cursor: pointer;
		z-index: -1;
	}

	&:hover:before {
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		@include gradient-directional($gradient-start-color-opacity, $gradient-end-color-opacity, 320deg);
	}
	&:hover:after {
		top: 10px;
		left: 10px;
		bottom: 10px;
		right: 10px;
		border: 2px solid $white;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		display: block;
	}
}

.restaurant-recommended {
	z-index: 20;
	color: $white;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	font-family: 'Roboto-Light', sans-serif;

	h3 {
		font-size: 2.2em;
		font-family: 'Roboto-Bold', sans-serif;
	}

	&.hidden-content {
		display: none;

		h3 {
			margin-bottom: 0em;
			margin-top: 1.0em;
		}
		p {
			font-size: 1.4em;
			margin-bottom: 0em;
			margin-top: 0.7em;
		}
		a {
			font-size: 0.9em;
			text-decoration: underline;
			color: $white;
		}

	}
}

.grid-stack-item-content:hover .hidden-content {
	display: block;
}

.grid-stack-item-content:hover .visible-content {
	display: none;
}