@media only screen and (max-width: 1500px) {
	.header {
		.navbar-menu-customized {
			.navbar-nav-customized {
				li a {
					padding: 15px 10px 10px;
				}
			}
		}
	}

	.header-customized {
		.navbar-menu-customized {
			.navbar-nav-customized {
				li a {
					padding: 10px 25px;
				}
			}
		}
	}

	.home-page {
		.navbar-menu-customized {
			width: 76%;
		}

		.navbar-right-block {
			width: 24%;
		}
	}
}

@media only screen and (max-width: 1400px) {
	.header {
		.header-left-section {
			width: 25%;
		}
		.header-right-section {
			width: 75%;
		}
	}

	.login-page {
		padding-bottom: 50px;
	}

	.error-page {
		padding-bottom: 0;
	}

	.header-customized {

		.navbar-brand-logo {
			margin-left: -5px !important;
		}

		.btn-dropdown-customized {
			font-size: 14px;
		}
	}
	.poster-list{
		.poster-item{
			width: 22%;}
	}
}

@media only screen and (max-width: 1300px) {
	.about-us-container,
	.poster-main-content,
	.restaurant-header-info, .restaurant-main-content {
		.container-customized {
			padding-left: 15px;
			padding-right: 15px;
		}
	}

	.navbar-right-block {
		.login-box {
			&.logged-out {
				padding-left: 30px;
			}
		}
	}
	.home-page, .filter-page, .restaurant-page, .error-page {
		.dropdown-menu-notification {
			width: 300px;
			right: -140px !important;
		}

		.event-item {
			blockquote {
				width: 205px;
			}

			.event-entry, .event-entry__grey {
				white-space: normal;
			}
		}
	}
}

@media only screen and (max-width: 1200px) {

	.header-customized {
		.header-location-form {
			margin-left: 10px !important;
		}

		.navbar-menu-customized {
			.navbar-nav-customized {
				li a {
					padding: 10px;
				}
			}
		}
	}
	.registration-form-block {
		right: 8%;
	}
	.visitors-num {
		white-space: normal;
	}
	.b-date {
		width: 150px;
	}
	.client-page .title {
		width: 230px;
	}
	.visitors-num {
		width: 119px;
	}

	.filter-page {
		.restaurant-discount {
			left: 15px;
		}
	}
}

@media only screen and (max-width: 1160px) {
	.poster-list{
		.poster-item{
			width: 30%;
		}
	}

	.main-content {
		.app-section {
			.download-app {
				margin-top: 75px;
			}
		}
	}

	.registered {
		width: 95%;
		.title {
			font-size: 32px;
		}
	}

	.registration-form-block {
		right: 5%;
	}
	
	.left-form-animation {
		-webkit-transform: translate(-78%, -50%);
		-moz-transform: translate(-78%, -50%);
		-ms-transform: translate(-78%, -50%);
		-o-transform: translate(-78%, -50%);
		transform: translate(-78%, -50%);
	}
	.header-customized {
		.btn-dropdown-customized {
			.login-name {
				max-width: 70px;
			}
		}
	}

	.header-filters {
		.price-range-block {
			.price-fields {
				label {
					margin-left: 0px;
					margin-right: 0px;
				}
			}
		}
	}

	.col-sm-5th {
		width: 19.6%;
	}

	.restaurant-main-content {
		.btn-reserve-table {
			font-size: 14px;
		}
	}
}

@media only screen and (max-width: 991px) {
	.header {
		height: 536px;

		.navbar-menu-customized {
			float: left;
			width: 50%;

			&.open {
				height: 536px;
			}
			.navbar-nav-customized {
				li a {
					text-align: center;
					padding: 20px;
					margin: 10px;
					-webkit-border-radius: 5px;
					-moz-border-radius: 5px;
					border-radius: 5px;
				}
				.active > a, .active > a:hover, .active > a:focus, li > a:hover, li > a:focus {
					color: $main-orange;
					background: $black;
				}
				.active > a:after, .active > a:hover:after, .active > a:focus:after, li > a:hover:after, li > a:focus:after {
					content: none;
				}
			}

			.navbar-toggle-customized {
				margin-top: 22px;
			}
		}
		.navbar-toggle-customized {
			background: none;
			border: none;
			margin: 10px 15px;

			&:hover, &:focus {
				background: none;
				border: none;
				outline: none;
			}

			.icon-bar {
				background-color: $white;
			}
		}
		.navbar-right-block {
			width: 32%;
		}
		.header-left-section {
			width: 37.5%;

			.logo {
				margin-top: 25px;

				img {
					width: 50%;
				}
			}
			.header-form {
				margin-top: -30px;

				.btn-find-restaurant {
					padding: 10px;
					margin-top: 10px;
				}
			}
			.shareRoundIcons {
				margin-top: 0em;
			}
		}
		.header-right-section {
			width: 62.5%;
			-webkit-background-size: cover;
			background-size: cover;

			.title-logo img {
				width: 50%;
			}
		}
		.header-title-block .title {
			font-size: 2em;
		}
	}
	.main-content {
		.handwriting-title {
			font-size: 1.3em;
			padding-top: 40px;
		}

		.restaurants-block {
			margin-bottom: 20px;
		}

		.app-section {
			height: 320px;

			.download-app {
				margin-left: 15px;

				h3 {
					font-size: 1.8em;
				}
				h5 {
					font-size: 1.15em;
					margin-top: 10px;
				}
				p {
					font-size: 0.8em;
					margin-top: 40px;
				}
			}

			.young-couple {
				right: 25px;
			}
		}
	}
	.restaurant-recommended {
		padding: 0 20px;

		h3 {
			font-size: 1.3em;
		}

		&.hidden-content {
			p {
				font-size: 0.85em;
			}
		}
	}
	.footer-item, .filter-page .footer-item, .restaurant-page .footer-item {
		padding: 5px 15px 0;
		min-height: 230px;

		.jssocials-share:not(:last-child) {
			margin-right: 5px;
		}

		ul li:not(:last-child) {
			padding-bottom: 20px;
		}
	}
	.item-contacts {

		p {
			&.text-filling {
				padding-bottom: 10px;
			}
		}
	}
	.filter-page, .restaurant-page {
		.item-app {
			h2 {
				font-size: 14px;
			}

			.item-app-img {
				a:first-child {
					margin-right: 0;
					margin-bottom: 15px;
				}
			}
		}

		.item-copyrights {
			text-align: center;
		}

		.footer-item {

			.footer-logo {
				float: none;
				margin-left: auto;
				margin-right: auto;
			}
		}
	}
	.registered {
		height: 270px;

		.title {
			font-size: 22px;
			line-height: 30px;
		}
	}
	.login-btn {
		margin-top: 20px;
	}
	.registration-form-block {
		padding-top: 20px;
		padding-bottom: 25px;

		.form-title {
			font-size: 15px;
		}

		.form-arrow {
			width: 18px;
		}

		.form-logo {
			img {
				width: 82px;
			}
		}

		.recaptcha {
			margin-top: 10px;
		}

		.close {
			margin-top: -10px;
		}
	}
	.login-form, .registration-form {
		margin-top: 10px;
		padding: 0 15px;

		.form-group {
			margin-bottom: 5px;
		}

		.input-field {
			font-size: 14px;
			margin-bottom: 0px;
		}

		.label-field {
			font-size: 11px;
		}

		.btn-login {
			margin-top: 10px;
			font-size: 12px;
			padding: 10px 30px;
		}
	}
	.error-group {
		.error {
			bottom: -20px;
		}
	}

	.header-customized {
		height: auto;
		.dropdown-menu-customized li a {
			padding: 12px 0;
		}

		.navbar-menu-customized {
			width: auto;
			height: 80px;


			&.open {
				background: $white;
				height: 80px;

				.container-customized {
					padding: 0px;
				}

				.navbar-header-customized {
					width: 100%;
				}

				.navbar-brand-logo, .header-location-form {
					display: none;
				}

				.navbar-collapse-customized {
					width: 100%;
					margin: 0;
					padding: 0;
					max-height: 100%;
				}

				#navbar-close {
					color: $lighter-gray;
				}

				.navbar-left-block {
					background: $white;
					width: 50%;
					float: left;
					position: relative;
					z-index: 10;
					-webkit-box-shadow: 0px 0px 5px $lighter-gray ;
					-moz-box-shadow: 0px 0px 5px $lighter-gray ;
					box-shadow: 0px 0px 5px $lighter-gray ;
				}

				.navbar-right-block {
					padding-right: 15px;
				}
			}

			.navbar-nav-customized {
				margin: 0;

				.active > a, .active > a:hover, .active > a:focus, li > a:hover, li > a:focus {
					color: $white !important;
					background: $main-orange !important;
				}
			}
		}

		.navbar-header-customized {
			width: 50%;
			float: left;
			margin: 0;
		}

		.navbar-toggle-customized {
			.icon-bar {
				background-color: $main-orange;
			}
		}

		.navbar-right-block {
			float: right;

			.login-box {
				float: left;

				.dropdown-menu {
					left: inherit;

					&.dropdown-menu-notification {
						width: 360px;
						&:before {
							margin-right: -2px;
						}
					}
				}
			}
		}

		.open > .dropdown-menu-customized {
			position: absolute;
			top: 100%;
			left: 0;
			z-index: 1000;
			display: block;
			float: left;
			min-width: 160px;
			padding: 5px 0;
			margin: 2px 0 0;
			list-style: none;
			font-size: 14px;
			text-align: left;
			background-color: #fff;
			border: 1px solid #ccc;
			border: 1px solid rgba(0, 0, 0, 0.15);
			border-radius: 4px;
			-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
			box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
			background-clip: padding-box;
		}
	}

	.col-sm-5th {
		width: 19.6%;
	}

	.price-range {
		.price-range-text {
			font-size: 14px;
		}
	}

	.select2-container--orange {
		.select2-selection--single{
			&:before {
				border: none;
			}
		}
	}

	.client-page {
		.input-item-customized {
			min-width: 220px;
			.bs-datepicker:before,
			.choose-place:before {
				border: none;
			}
		}
	}
	.settings-box {
		span {
			padding-right: 9px;
			padding-left: 9px;
		}
	}
	.places-list {
		.places-list-item-description {
			padding-left: 15px;

			.place-title {
				max-width: 100%;
			}

			.rating-score {
				.current-score {
					font-size: 36px;
				}

				.common-score {
					font-size: 20px;
				}
			}

			.place-item-details {
				.bill-block {
					margin-bottom: 20px;
				}
			}
		}
	}

	.restaurant-header-details {
		.restaurant-header-title {
			font-size: 32px;
		}
	}

	.restaurant-main-content {

		.container-customized-flex {
			@include flex-wrap(wrap);
		}

		.restaurant-left-sidebar {
			@include flex-grow(1);
		}

		.restaurant-right-sidebar {
			@include flex-grow(3);
			margin-left: 30px !important;

			.restaurant-sidebar-item {
				display: inline-block;
				width: 49%;
				vertical-align: top;

				.sidebar-item-text {
					width: auto;
				}
			}
		}

		.restaurant-content {
			@include order(3);
			width: 100%;
		}

		.logo-restaurant {
			img {
				width: 100%;
			}
		}
	}

	.status {
		width: 150px;
		position: relative;
	}

	.modal-customized {
		.modal-dialog {
			width: 742px;
		}
	}

	.responses-item__img {
		padding-left: 20px;
	}

	.restaurant-address, .average-check {
		margin-bottom: 10px;
	}

	.col-rate {
		position: relative;
	}

	.responses-item__rate {
		position: absolute;
		right: 17px;
		top: -28px;
		width: 115%;
		padding-right: 0;
	}

	.responses-item {
		padding-top: 25px;
		margin: 0;
		border-top: 1px solid #e5e5e5;
		border-bottom: none;
	}

	.modal-reviews {
		.modal-header {
			padding: 30px 15px 10px;
		}
		form {
			padding: 25px 15px 30px;
			textarea {
				font-size: 16px;
			}
		}
	}

	.review-rate {
		padding: 20px 15px 10px;
	}

	.client-settings {
		padding-left: 5px;
		.form-group .input-item-customized,
		input, textarea {
			max-width: 565px;
		}
		form {
			max-width: 742px;
		}
		.customized-select, .settings-box, .characteristics-list {
			max-width: 565px;
		}

		input[name="scheduleFrom"], input[name="scheduleTo"] {
			max-width: 196px;
		}
		input[name="sale"] {
			width: 60px;
		}
	}
	.info-popup__data {
		width: 565px;
	}
	#userReviewsModal {
		form {
			padding: 25px 30px 30px;
		}
	}

	.title-404 {
		font-size: 150px;
		line-height: 150px;
	}
}

@media only screen and (max-width: 767px) {
	.header {
		.navbar-menu-customized {
			width: 20%;

			&.open {
				width: 100%;

				& + .navbar-right-block {
					display: none;
				}
			}
		}

		.navbar-right-block {
			width: 80%;

			.search {
				width: 85%;
			}

			.login-box {

			}
		}

		.header-left-section {
			width: 100%;
			background: url(../images/header-wooden-bg-m.jpg) no-repeat scroll 0 0 #562a10;
			-webkit-background-size: cover;
			background-size: cover;

			.logo {
				img {
					width: 150px;
				}
			}

			.header-form {
				margin-top: -15px;
			}
		}
	}
	.main-content {
		.restaurants-block {
			margin: 30px 35px 20px;
		}
		.app-section {
			height: 250px;
			background-size: 100% 65%;
			text-align: center;

			.download-app {
				margin-left: 0px;
				margin-top: 5px;

				h3 {
					font-size: 1.4em;
				}
				p {
					font-size: 1em;
				}
			}

			.app-icons {
				margin-top: 5px;

				img {
					margin: 0 auto;
				}
			}
		}
	}
	.pagination-customized li {
		margin: 0 5px 10px;
	}
	.footer-content,.filter-page .footer-content, .restaurant-page .footer-content {
		-webkit-background-size: cover;
		background-size: cover;
		padding: 20px 30px;
		@include flexbox();
		@include flex-direction(column);
	}
	.footer-item, .filter-page .footer-item, .restaurant-page .footer-item {
		min-height: auto;
		max-width: 280px;
		float: none;
		margin: 0 auto;
		padding: 20px 15px;

		&:not(:last-child) {
			border-right: none;
			border-bottom: 2px solid #bcbcbc;
		}
	}
	.footer, .filter-page .footer, .restaurant-page .footer {
		.item-copyrights {
			@include order(3);
			border-bottom: none;
			border-top: 2px solid #bcbcbc;
		}
	}
	.filter-page, .restaurant-page {
		.footer-item {
			text-align: center;
		}

		.item-app {
			h2 {
				margin-top: 0;
			}

			.item-app-img {
				a:first-child {
					margin-right: 0;
					margin-bottom: 15px;
				}
			}
		}
	}

	.modal-reservation {
		form {
			font-size: 16px;

			input, textarea {
				font-size: 16px;
			}
		}

		.filter-item:not(:last-child) {
			margin-bottom: 20px;
		}
	}

	.login-page {
		padding-bottom: 0;
	}

	.registration-form-block {
		left: 50%;
		width: 100%;
		-webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		-o-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}

	.login-form, .registration-form {
		padding: 0;
	}

	.login-btn {
		font-size: 12px;
		color: $lighter-gray;
	}

	.header-customized {
		height: auto;

		.navbar-menu-customized {
			width: 100%;

			&.open {
				.navbar-left-block {
					width: 100%;
				}
			}

			.navbar-toggle-customized {
				margin: 22px 0 0;
			}
		}

		.navbar-left-block {
			width: 100%;
		}

		.navbar-header-customized {
			width: 100%;
		}

		.header-location-form {
			margin-left: 20px !important;
		}
	}

	.title-404 {
		font-size: 90px;
		line-height: 90px;
	}

	.text-404 {
		font-size: 18px;
	}

	.col-sm-5th {
		width: 100%;
	}

	.header-filters {
		.filters {
			.filter-label {
				text-align: left;

				&:after {
					position: absolute;
					right: 0;
				}
			}
		}

		.price-range-block {
			.price-fields {
				input {
					width: 55px;
					padding: 6px;
					text-align: center;
				}
			}
		}

		.btn-orange {
			padding: 14px 30px;
		}
	}

	.price-fields.form-inline {
		text-align: center;

		 .form-group {
			 display: inline-block;

			 & label, & input {
				 display: inline-block;
			 }
		 }
	}
	.places-list {

		.places-list-item-img {
			img	{
				width: 100%;
			}
		}

		.places-list-item-description {
			.place-rating {
				margin-top: 10px;
			}

			.rating-score {
				margin-top: -15px;
				margin-right: 0;
			}

			.btn-booking {
				display: block;
				margin: 35px auto 0;
			}

			.reviews-quantity {
				padding-right: 0;
			}
		}
	}

	.sorting-item {
		width: 185px;
		margin-top: 10px;
	}

	.restaurant-header-details {
		.restaurant-header-title {
			font-size: 24px;
			line-height: 24px;
		}

		.restaurant-header-address {
			font-size: 14px;
		}

		.restaurant-header-interactions {
			margin-top: 20px;
		}

		.share-block {
			margin-top: 15px;
		}
	}

	.restaurant-main-content {
		.restaurant-right-sidebar {
			.restaurant-sidebar-item {
				width: 100%;
			}
		}
	}

	.restaurant-details-tablist, .orange-tablist {
		.nav-tabs-customized > li > a {
			font-size: 12px;
		}

		.tab-contacts-details {
			.share-block {
				text-align: center;
			}
		}
	}

	.client-page .title, #responses .title {
		padding-right: 45px;
		width: 100% !important;
		max-width: none;
	}

	.b-date, #responses .b-date {
		width: 100% !important;
		max-width: none;
		padding: 0;
		font-size: 14px;
		color: #454545;
		font-family: "Roboto-Light", sans-serif;
	}

	#responses .order-client-name {
		width: 100% !important;
		max-width: none;
	}

	.rating {
		width: 30px;
		text-align: center;
	}

	.status-text {
		display: none;
	}

	.orange-tablist {
		.table-wrap {
			padding-right: 0;
		}
		.wrapper {
			display: block;
		}
		.visitors-num {
			max-width: none;
			width: 100% !important;
		}
		.visitors-num__title {
			display: inline-block;
		}
		.nav-tabs-customized {
			border-bottom: none;
		}
		.nav-tabs-customized > li {
			margin-bottom: 15px;
		}
		.nav-tabs-customized > li > a {
			font-size: 18px;
		}
		.table-row {
			padding: 15px 8px 25px;
			flex-direction: column;
			-webkit-flex-direction: column;
			position: relative;
		}
		.table-row.table-header {
			display: none;
		}

		.attributes {
			flex-direction: column;
			-webkit-flex-direction: column;
			width: 100%;
		}
		.module-reporter {
			position: absolute;
			top: 32px;
			right: 10px;
		}
		.status span.status-icon {
			right: -5px;
		}
		.visitors-num {
		position: relative;
			.visitors-num__count {
				position: absolute;
				top: 10px;
				right: 5px;
			}
		}
	}

	.reviews-rating-overall-top {
		margin-top: 20px;

		.overall-rating-number {
			padding-right: 15px;
		}
	}

	.reviews-rating-parts {
		.overall-rating-title {
			font-size: 12px;
		}
	}

	.nav-tabs-menu {
		overflow: hidden;
		max-height: 30px;

		& > li {
			& > a {
				padding: 5px;
			}
		}
	}

	.client-info {
		padding-right: 0;
	}

	.icon-settings {
		position: inherit;
		right: inherit;
		top: inherit;
		margin-top: 15px;
	}

	.modal-customized {
		.modal-dialog {
			width: 100%;
			margin: 15px 0;
		}
		.modal-header {
			border: none;
			padding: 20px 15px;
		}
		.modal-body {
			padding: 0 15px 15px;
		}
		.form-group {
			margin-bottom: 15px;}
		.form-50 {
			width: 100%;
			float: none;
			margin-right: 0;
			margin-bottom: 15px;
		}
		.form-50:last-child {
			margin-right: 0;
			margin-bottom: 0;
		}
		.btn-cancel-order {
			position: relative;
			right: inherit;
			top: inherit;
		}
		.status-text {
			display: block;
		}
		.modal-title {
			font-size: 18px; }
		.modal-status {
			margin-bottom: 15px;
		}
		.modal-reserve {
			margin-bottom: 15px;
		}
		.btn-orange, .btn-grey {
			width: 100%;
			max-width: 292px;
			padding: 15px 0;
			text-align: center;
		}
	}

	.modal-sub-title {
		font-family: "Roboto-Regular", sans-serif;
		font-size: 14px;
	}

	.b-notification {
		font-size: 14px;
		padding: 20px;
	}

	.responses-item__data {
		margin-top: 9px;
	}

	.responses-item__img {
		margin: 0;
		padding-left: 0;
	}

	.modal-reviews {
		.modal-body {
			padding: 0;
		}
		.btn-orange {
			margin: 0 18px 15px 0;
		}
	}

	.client-settings {
		margin-top: 0;
		.form-group {
			text-align: left;
		}
		.form-group.pass-group {
			text-align: right;
			min-height: 58px;
			label{
				display: inline-block;
				width: auto;
			}
		}
		.link-change-pass {
			margin-left: 20px;
			display: inline-block;
		}
		input,
		.form-group .input-item-customized {
			width: 100%;
			float: none;
			max-width: none;
		}
		input:not(.input-field-inline) {
			width: 100%;
		}
		.change-pass-fields {
			.input-field-inline {
				width: 100%;
				margin-bottom: 13px;
			}
		}
		label {
			display: block;
			max-width: none;
			width: 100%;
			margin: 0 0 5px;
		}
		textarea {
			max-width: none;
		}
		.link-blue {
			margin-left: 0;
		}
		.btn-orange {
			margin: 0;
		}
		.customized-select, .settings-box, .characteristics-list {
			max-width: none;
		}

		.customized-select {
			.filter-label {
				padding: 15px 25px 15px 15px;
				background-position: 97% center;
			}
		}

		input[name="sale"], input[name="saleDateFrom"], input[name="saleDateTo"] {
			margin: 0 0 15px;
		}
		input[name="scheduleFrom"], input[name="scheduleTo"] {
			width: 25%;
		}
		input[name="sale"] {
			width: 160px;
		}
	}

	.client-name {
		font-size: 24px;
	}
	.posterfull-wrapper{
		flex-direction: column;
	}
	.posterfull-image{
		padding-bottom: 20px;
	}

	#infoRequestModal{
		.modal-header, .client-order, .user-info-dropdown {
			padding: 15px;
		}
		.modal-sub-title {
			font-size: 16px;
		}
	}

	.user-info-dropdown {
		ul.all-visits {
			li {
				width: 33%;
				margin-right: 0;
				&:first-child {
					width: 33%;
				}
				&:last-child {
					width: 33%;
				}
			}
		}
	}

	.client-order {
		ul {
			li {
				min-width: inherit;
				margin-right: 50px;
				&:last-child {
					margin-right: 0;
				}
			}
		}
	}

	.free-tables {
		float: none;
		display: block;
		clear: both;
		padding-top: 20px;
	}

	.sort-booking-status {
		position: relative;
		top: -45px;
		.dropdown-toggle {
			margin: 0;
		}
	}

	.button-add-photo .link-blue {
		margin-left: -52px;
	}

	.customized-select {
		select {
			padding: 15px 26px 15px 15px;
		}
	}

	.client-order,
	.order-status__wrap,
	#infoRequestModal .modal-header,
	#userReviewsModal .modal-header,
	.btn-wrap, .reviews-rating__wrap,
	#userReviewsModal form {
		padding: 15px;
	}

	#infoRequestModal .modal-header, #userReviewsModal .modal-header
	#userReviewsModal {
		blockquote {
			padding: 5px 10px 5px 20px;
		}
	}

	.table-col-row {
		display: block;
		padding: 15px 0 25px;
		position: relative;
		div[class*="col-xs-"] {
			position: initial;
		}
		.status {
			position: initial;
			span.status-icon {
				top: 25px;
				right: 9px;
			}
		}

	}

	.table-col__title {
		display: inline-block;
	}

	.table-col__id, .table-col__visnum {
		float: right;
	}

	.client-page {
		.input-item-customized {
			margin-bottom: 15px;
		}
	}

	.settings-box {
		span {
			width: 37px;
		}
	}

	.calendar-customized {
		.fc-toolbar {
			.fc-right h2 {
				font-weight: 400;
				font-size: 25px;
				padding-top: 5px;
			}
		}
	}
	.about-us-container{
		flex-direction: column;
	}
	.about-us-image{
		margin: 0 auto 30px;
	}
}

@media only screen and (max-width: 695px) {
	#userReviewsModal {
		.progress-bar-item {
			max-width: 300px;
			padding-right: 45px;
		}
		.reviews-progress-bar {
			padding-right: 0;
			width: 100%;
		}
		.reviews-rating-overall {
			width: 100%;
		}
		.review-rate__orange {
			right: 0;
		}
	}
	#allBookings .table-wrap {
		padding-top: 30px;
	}
	.sort-booking-status {
		top: -25px
	}

	.orange-tablist {
		.nav-tabs-customized > li > a {
			font-size: 16px;
			margin-right: 30px;
		}

		.nav-tabs-customized > li:last-child > a {
			margin-right: 0;
		}
	}

	.calendar-customized {
		.fc-toolbar{
			.fc-left, .fc-right {
				float: none;
				text-align: left;
			}

			.fc-right {
				margin-top: 1em;

				&:after {
					content: '';
					clear: both;
					display: block;
				}

				h2 {
					font-size: 15px;
				}
			}

			.fc-button-group {
				float: none;
			}

			.fc-prev-button,
			.fc-next-button {
				padding: .2em .3em;
			}

			.fc-icon-left-single-arrow:after,
			.fc-icon-right-single-arrow:after {
				font-size: 20px;
			}
		}

		.fc-view-container {
			.fc-head {
				th {
					font-size: 11px;
				}
			}
		}
	}

	.fc .fc-axis {
		white-space: normal;
		text-align: center;
	}
}

@media only screen and (max-width: 520px) {
	.info-popup {
		display: none;
	}
	.restaurant-logo {
		width: 50px;
		overflow: hidden;
		padding-left: 0;
		img {
			width: 100%;
		}
	}
	.modal-reviews {
		blockquote {
		  width: calc(100% - 70px);
		  padding: 10px 10px 10px 20px;
	    }
	}
	#userReviewsModal {
		.dropdown {
			position: absolute;
			width: 100%;
			top: -45px;
			right: -95px;
		}
		.dropdown-toggle__orange {
			float: none;
		}
		blockquote {
			width: 100%;
		}
		.link-blue {
			position: relative;
			right: inherit;
		}
		.modal-sub-title {
			font-size: 16px;
		}
	}
	.client-info {
		width: 159px;
		padding-top: 0;
	}
	#infoRequestModal{
		.dropdown {
			position: absolute;
			width: 100%;
			top: -45px;
			right: -95px;
		}

		.dropdown-toggle__orange {
			float: none;
		}
	}
	.user-info-dropdown {
		top: 44px;
		right: 95px;
		ul.all-visits {
			li, li:first-child, li:last-child {
				width: 33.3%;
				margin-right: 0;
			}
			.modal-sub-title {
				min-height: 40px;
			}
		}
	}
	.client-order ul li {
		margin-right: 40px;
	}
	.order-status__select {
		background: url(/images/ico-arrow-to-down-black.png) no-repeat 96% center;
	}
	.modal-customized {
		.btn-orange {
			margin: 0 0 15px 0;
		}
	}

	.orange-tablist {
		.nav-tabs-customized > li > a {
			font-size: 12px;
			margin-right: 15px;
		}

		.nav-tabs-customized > li:last-child > a {
			margin-right: 0;
		}
	}
}

@media only screen and (max-width: 340px) {
	.button-add-photo {
		width: 133px;
		height: 133px;
	}
	.gallery-photo__item{
		margin-right: 0;
		width: 133px;
		height: 133px;
	}
	.gallery-photo__item:nth-child(2n-1) {
		margin-right: 15px;
	}
}

@media only screen and (min-height: 836px) and (min-width: 1160px) {
	.home-page .header {
		height: 100vh;

		.header-left-section, .header-right-section {
			-webkit-background-size: cover;
			background-size: cover;
		}
	}

}

@media only screen and (min-height: 660px) and (max-height: 800px) and (min-width: 768px) {

	.registration-form-block {
		padding: 20px 40px;

		.close {
			margin-top: 0;
		}
	}

	.login-form-entry {
		.login-form {
			margin-top: 40px;
		}
	}
}

@media only screen and (max-height: 659px) and (max-width: 767px) {
	.login-page {
		.container-customized, .registration-form-block {
			margin: 0px auto;
			padding-top: 30px;
			padding-bottom: 30px;
		}
	}

	.login-form-entry {
		.login-form {
			margin-top: 40px;
		}
	}

	.error-page {
		.container-customized {
			padding-top: 0;
			padding-bottom: 0;
		}
	}
}
@media (max-width: 640px) {
	.poster-list{
		.poster-item{
			width: 290px;
			margin: 0 auto;
			right: 0;
		}
	}

}
@media (max-width: 520px) {
	.seealso-item{
		width: 100%;
		.poster-item{
			width: 290px;
			margin: 0 auto;
		}
	}

}
@media (min-width: 769px) {
	.posterfull{
		&-image{
			width: 39%;
			padding-right: 20px;
		}
		&-text{
			width: 61%;
		}
	}
}
@media (min-width: 641px) and (max-width: 768px){
	.poster-list {
		.poster-item {
			width: 47%;
		}
	}
}
@media (min-width: 992px) {
	.client-settings {
		input[name="sale"] {
			width: 60px;
		}
	}
	.status-text {
		display: block;
	}
	.modal-customized {
		.modal-dialog {
			width: 860px;
		}
	}
	.average-check,	.restaurant-address {
		width: 50%;
		float: left;
	}
	.responses-item__img {
		padding-left: 0;
	}
}

@media (min-width: 1401px) {
	.poster-list{
		.poster-item{
			width: 23%;}
	}
	.poster-main-content{
		.container-customized{
			padding: 0;
		}
	}
}
