.poster-main-content {
  background-color: #fff;

}
.poster-list{
  .poster-item{
    float: left;
    max-width: 290px;
    margin-bottom: 30px;
  }
  .poster-info{
    padding: 8px 10px;
  }
  .poster-address{
    font-size: 13px;
  }
  .poster-image{
    a{
      display: inline-block;
    }
  }
}

.poster-wraper{
  position: relative;
}

.poster-date{
  font-family: 'Roboto-Medium', sans-serif;
  font-size: 14px;
  color: $light-gray;
}
.poster-address{
  color: $light-gray;
  font-family: 'Roboto-Medium', sans-serif;
}
.poster-title{
  font-family: 'Roboto-Medium', sans-serif;
  line-height: 1.2em;
  color: $dark-gray;
  font-size: 18px;
  padding: 8px 0;
  display: inline-block;
}

.discount{
  font-family: 'Roboto';
  font-weight: 900;
  position: absolute;
  left: 0;
  top: 0;
  padding: 10px 0;
  width: 56px;
  text-align: center;
  background: $discount;
  color: #ffffff;
  font-size: 18px;
}