.posterfull-main-content {
  background-color: #fff;
}
.posterfull-content{
  padding-top: 40px;
}

.posterfull{
  &-title{
    font-size: 18px;
    margin-top: 10px;
  }
  &-info{
    padding-bottom: 5px;
  }
  &-description{
    padding-bottom: 25px;
    font-family: 'SF UI  Text';
    font-size: 18px;
  }
  &-wrapper{
    @include flexbox();
    flex-shrink: 1;

  }
  &-image{
    position: relative;
  }
  .poster-address{
    font-size: 14px;
  }

  &-pluso-title{
    padding-top: 25px;
    color: $light-gray;
    padding-bottom: 15px;
    font-size: 14px;
  }
}
.seealso-content{
  padding: 70px 0;
  .poster-info{
    padding: 8px 10px;
  }
}
.seealso-title{
  font-size: 34px;
  padding-bottom: 40px;
}