.login-page {
	//background: url(../images/registration-bg-left.png) no-repeat scroll left bottom, url(../images/registration-bg-right.png) no-repeat scroll right top #fff;
	min-height: 100%;

	.container-customized {
		position: fixed;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		-o-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}
}

.registered {
	background: $main-orange-opacity;
	font-family: 'Roboto-Medium', sans-serif;
	font-size: 14px;
	color: $white;
	max-width: 1140px;
	width: 100%;
	height: 430px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: 0;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);

	.registered-entry {
		padding: 35px 40px 0;
	}

	.title {
		font-size: 36px;
		line-height: 48px;
		text-transform: uppercase;
		margin: 0;
	}

	.enter-login-text {
		font-family: 'Roboto-Light', sans-serif;
		font-size: 18px;
		margin-top: 10px;
	}
}

.login-btn {
	background-color: transparent;
	font-size: 24px;
	color: $white;
	text-transform: uppercase;
	margin-top: 15px;
	border: none;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	text-decoration: underline;

	&:hover {
		text-decoration: none;
	}

	&:focus {
		outline: none;
	}
}

.registration-form-block {
	position: absolute;
	top: 50%;
	right: 9%;
	background-color: $white;
	max-width: 620px;
	padding: 60px 40px 40px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-shadow: 0px 0px 20px $middle-gray;
	-moz-box-shadow: 0px 0px 20px $middle-gray;
	box-shadow: 0px 0px 20px $middle-gray;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);

	.close {
		margin-top: -40px;
	}

	.form-title {
		font-family:'Roboto-Medium', sans-serif;
		font-size: 36px;
		color: $pagination-gray;
		text-transform: uppercase;
		margin: 0;
		padding: 0;
	}

	.form-arrow {
		margin-top: 10px;
	}

	.form-logo {
		img {
			display: inline-block;
			margin: -10px auto 0px;
		}
	}

	.recaptcha {
		margin-top: 20px;
	}
}

.login-form-entry {
	.login-form {
		margin-top: 35px;
	}

	.form-social-share {
		margin: 40px auto 60px;
	}
}

.login-form, .registration-form {
	font-family: 'Roboto-Light', sans-serif;
	max-width: 430px;
	margin: 20px auto 0px;

	.input-field {
		font-family: 'Roboto-Light', sans-serif;
		font-size: 18px;
		color: $light-black;
		border: none;
		border-bottom: 1px solid $black-opacity;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}

	:-ms-input-placeholder {
		color: $light-black;
	}

	.error {
		font-size: 14px;
		color: $error-red;
	}

	.text-login-soc {
		font-family: 'Roboto-Light', sans-serif;
		font-size: 18px;
		color: $restaurant-tabs-lighter-gray;
	}

	.btn-login {
		font-family: 'Roboto-Medium', sans-serif;
		font-size: 18px;
		display: block;
		width: 100%;
		margin: 22px auto 0px;
		padding: 15px 50px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		text-transform: uppercase;

		&:hover {
			background-color: $main-orange-hover;
		}
	}
}

.form-social-share {
	text-align: center;

	.jssocials-share:not(:last-child) {
		margin-right: 10px;
	}

	.jssocials-share-logo {
		font-size: 22px;
	}
}

.registration-form {
	.form-group {
		margin-bottom: 10px !important;

		&.error-group {
			position: relative;
			overflow: visible;

			.input-field {
				border-bottom: 1px solid $error-red;
			}

			.error {
				position: absolute;
				right: 0;
				bottom: -30px;
			}
		}
	}
}

.modal-open {
	.modal-registration {
		overflow: visible;

		.modal-dialog {
			max-width: 1125px;
			width: 100%;
			margin: 0 auto;
			padding: 0;
			position: absolute;
			top: 50%;
			left: 50%;
			-webkit-transform: translate(-50%, 0);
			-ms-transform: translate(-50%, 0);
			-o-transform: translate(-50%, 0);
			transform: translate(-50%, 0);
		}

		.modal-content {
			background-color: transparent;
		}
	}
}