.restaurant-page {
	background: $restaurant-main-content-bg;
	padding-top: 80px;
	
	.container-customized {
		max-width: 1260px;
	}

	.breadcrumb-customized {
		background-color: transparent;
	}

	.rating-score {
		margin-right: 0;
		margin-top: 0;

		.common-score {
			color: $white;
		}
	}

	.place-rating {
		.reviews-quantity {
			font-family: 'Roboto-Light', sans-serif;
			font-size: 16px;
			color: $white;
			display: inline-block;
			margin-top: 10px;
			text-decoration: underline;

			&:hover {
				text-decoration: none;
			}
		}
	}

	.recommended-section {
		margin-top: 30px;
	}

	.handwriting-title {
		font-family: 'Roboto-Regular', sans-serif;
		font-size: 24px;
	}

	.restaurants-block {
		margin-top: 20px;
	}
}

.restaurant-header-info {
	background: url(../images/restaurant-header-bg.png) no-repeat scroll center $bg-gray;
	-webkit-background-size: cover;
	background-size: cover;
	padding-bottom: 20px;

	.container-customized {
		padding-left: 0;
		padding-right: 0;
	}
}

.restaurant-header-details {
	color: $white;
	font-family: 'Roboto-Medium', sans-serif;
	font-size: 18px;

	.restaurant-header-title {
		font-size: 36px;
		line-height: 36px;
		margin-top: 5px;
		margin-bottom: 0;
	}

	.restaurant-header-address {
		line-height: 24px;
		color: $middle-gray;
		margin-top: 18px;
		margin-bottom: 0;
	}

	.restaurant-header-bill {
		margin-top: 10px;

		.average-bill-amount {
			font-size: 24px;
			color: $green;
		}
	}

	.restaurant-header-interactions {
		margin-top: 10px;
	}

	.show-on-map {
		display: inline-block;
		margin-right: 30px;

		.restaurant-header-text {
			margin-right: 20px;
		}

		a {
			&:hover {
				text-decoration: none;
			}
		}
	}

	.share-block {
		display: inline-block;
		font-size: 12px;
		margin-top: 20px;
	}

	.restaurant-header-share {
		display: inline-block;
		vertical-align: middle;
		margin-left: 20px;
	}

	.restaurant-header-text {
		font-size: 16px;
		color: $white;
	}

	.mobile-place-rating {
		margin-top: 15px;
	}
}

.restaurant-main-content {
	background: $restaurant-main-content-bg;
	padding-top: 15px;

	.container-customized-flex {
		padding-left: 0;
		padding-right: 0;
		@include flexbox();
		@include flex-direction();
		@include flex-wrap();
		@include justify-content(space-between);
	}

	.restaurant-sidebar {
		width: 16%;

		&:first-child {
			margin: 0px auto 0px 0px;
		}

		&:last-child {
			margin: 0px 0px 0px auto;
		}
	}

	.restaurant-content {
		width: 64%;
		margin: 0px auto;
	}

	.logo-restaurant {
		width: 100%;
		height: auto;
		position: relative;

		img {
			-webkit-box-shadow: -5px 5px 30px $middle-gray;
			-moz-box-shadow: -5px 5px 30px $middle-gray;
			box-shadow: -5px 5px 30px $middle-gray;
		}
	}

	.btn-reserve-table {
		font-family: 'Roboto-Medium', sans-serif;
		font-size: 16px;
		margin-top: 20px;
		margin-bottom: 10px;
		width: 100%;
	}
}

.restaurant-right-sidebar {
	font-size: 16px;
	line-height: 16px;
	color: $bg-gray;
	padding-top: 5px;

	.restaurant-sidebar-item:not(:first-child) {
		margin-top: 12px;
	}

	.sidebar-item-ico {
		width: 40px;
	}

	.sidebar-item-text {
		width: auto;
	}

	p {
		margin-bottom: 5px;
	}

	.details-item-title {
		font-family: 'Roboto-Medium', sans-serif;

	}

	.details-item-text {
		font-family: 'Roboto-Light', sans-serif;
	}
}

.restaurant-content {
	.restaurant-description {
		background: $white;
		padding: 15px 20px;
		border: 1px solid $filter-header-border-gray;

		.owl-carousel {
			.owl-item {
				img {
					max-height: 200px;
					overflow: hidden;
				}
			}
		}
	}

	.restaurant-description-text {
		margin-top: 25px;
		font-family: 'Roboto-Light', sans-serif;
		font-size: 16px;
		line-height: 24px;
		color: $light-black;

		p:first-child {
			font-family: 'Roboto-Regular', sans-serif;
		}
	}

	.btn-know-more {
		font-family: 'Roboto-Regular', sans-serif;
		font-size: 16px;
		color: $middle-gray;
		text-decoration: underline;

		&:hover {
			text-decoration: none;
			color: $dark-gray;
		}
	}
}

.restaurant-details-tablist, .orange-tablist {
	margin-top: 20px;

	.nav-tabs-customized {
		border-bottom: none;

		& > li {
			& > a {
				font-family: 'Roboto-Medium', sans-serif;
				font-size: 18px;
				line-height: 18px;
				text-transform: uppercase;
				color: $middle-gray;
				padding: 10px 20px;
				border: none;
				-webkit-border-radius: 0px;
				-moz-border-radius: 0px;
				border-radius: 0px;
			}
		}

		& > li.active > a,
		& > li.active > a:hover,
		& > li.active > a:focus,
		& > li > a:hover,
		& > li > a:focus {
			color: $main-orange;
			background-color: transparent;
			border: none;
			border-bottom: 2px solid $main-orange;
		}
	}

	.tab-content-customized {
		background-color: $white;
		border: 1px solid $filter-header-border-gray;
		padding: 25px 20px;
	}

	.tab-features {
		.btn-feature {
			font-size: 18px;
			color: $restaurant-tabs-gray;
			border: 1px solid $filter-header-border-gray;
			margin-right: 20px;
			margin-bottom: 20px;
			height: 40px;

			&:hover, &.active {
				background: $main-orange;
				border-color: transparent;
				color: $white;
				text-decoration: none;
			}

			&:before {
				vertical-align: middle;
				display: inline-block;
				padding-right: 15px;
				padding-top: 2px;
			}
		}

		.btn-feature-parking {
			&:before {
				content: url(../images/ico-parking-orange.png);
			}
			&:hover:before,
			&.active:before{
				content: url(../images/ico-parking-white.png);
			}
		}

		.btn-feature-bar {
			&:before {
				content: url(../images/ico-cocktail-orange.png);
			}
			&:hover:before,
			&.active:before {
				content: url(../images/ico-cocktail-white.png);
			}
		}

		.btn-feature-smoking {
			&:before {
				content: url(../images/ico-smoking-orange.png);
				padding-top: 0;
				vertical-align: top;
			}
			&:hover:before,
			&.active:before {
				content: url(../images/ico-smoking-white.png);
			}
		}
	}

	.tab-contacts-details {
		.contact-info {
			font-family: 'Roboto-Light', sans-serif;
			font-size: 18px;
			line-height: 24px;
			color: $restaurant-tabs-gray;
			padding-bottom: 10px;
			padding-top: 5px;

			&:not(:last-child) {
				border-bottom: 1px solid $filter-header-border-gray;
			}

			h4 {
				font-family: 'Roboto-Medium';
				color: $bg-gray;
			}

			p {
				margin-bottom: 5px;
			}

			a {
				display: block;
				color: $restaurant-tabs-gray;
			}
		}

		.share-block {
			font-size: 14px;
		}
	}
}

.orange-tablist {
	max-width: 100%;
	overflow: hidden;
	.table-wrap {
		padding-right: 15px;
	}
	.tab-content-customized {
		padding: 0;
		border: none;
	}
	.nav-tabs-customized {
		border-bottom: 2px solid $filter-header-border-gray;
		& > li {
			& > a {
				color: #000;
				padding: 5px 0;
				margin-right: 40px;
			}
		}
		& > li:last-child {
			& > a {
				margin-right: 0;
			}
		}
	}
	.table-row {
		font-size: 18px;
		padding: 20px 20px;
		&:hover {
			background-color: $restaurant-main-content-bg;
		}
	}

	.table-row.table-header {
		border: none;
		padding: 20px 20px 3px;
		&:hover {
			background-color: transparent;
		}
	}
	.table-row.table-header .column, .visitors-num__title, .table-row.table-header a {
		color: #999999;
		font-size: 16px;
		font-family: 'Roboto-Regular', sans-serif;
	}
	.table-row.table-header a {
		&:hover, &:active, &:focus {
			text-decoration: none;
		}
	}
}

.restaurant-tabs-share {
	vertical-align: middle;

	.jssocials-share {
		margin-right: 0.5em;

		.jssocials-share-link {
			background: $price-range-bg;
			padding: .55em .6em;

			.jssocials-share-logo {
				color: $white;
			}
		}
	}
}

.nav-tabs-menu {
	border-bottom: none;

	& > li {
		& > a {
			font-family: 'Roboto-Light', sans-serif;
			font-size: 18px;
			line-height: 18px;
			color: $restaurant-tabs-gray;
			padding: 5px 20px;
			border: none;
			-webkit-border-radius: 0px;
			-moz-border-radius: 0px;
			border-radius: 0px;
		}

		&:first-child > a {
			padding-left: 0;
		}

		&:last-child > a {
			padding-right: 0;
		}
	}

	& > li.active > a,
	& > li.active > a:hover,
	& > li.active > a:focus,
	& > li > a:hover,
	& > li > a:focus {
		color: $dark-blue;
		background-color: transparent;
		border: none;
	}
}

.tab-menu-item {
	overflow-y: auto;
	max-height: 1000px;
	margin-top: 25px;
}

.tab-menu-block {
	.tab-menu-block-title {
		font-weight: normal;
		color: $main-orange;
		padding-bottom: 10px;
		border-bottom: 1px solid $filter-header-border-gray;
	}

	.tab-menu-block-item {
		color: $light-black;
		padding: 15px 0 0;
		margin: 0;

		&:not(:last-child) {
			border-bottom: 1px solid $filter-header-border-gray;
		}
	}

	.tab-menu-item-title {
		font-family: 'Roboto-Medium', sans-serif;
		font-size: 18px;
	}

	.tab-menu-item-text {
		font-family: 'Roboto-Light', sans-serif;
		font-size: 16px;
		line-height: 24px;
	}

	.tab-menu-item-params {
		@extend .tab-menu-item-text;
		font-size: 18px;
	}

}

.tab-reviews {
	font-size: 18px;
	color: $light-black;

	.reviews-quantity {
		font-family: 'Roboto-Light', sans-serif;
	}

	.reviews-quantity-note {
		font-size: 16px;
		color: $lighter-gray;
		padding-left: 10px;
	}

	.reviews-number-style {
		font-family: 'Roboto-Medium', sans-serif;
		font-size: 18px;
		color: $main-orange;
	}

	.reviews-rating-overall-block {
		margin-top: 35px;
		padding-bottom: 20px;
		border-bottom: 1px solid $filter-header-border-gray;
	}

	.recommended-percent {
		font-family: 'Roboto-Light', sans-serif;
		font-size: 17px;
		margin-top: 25px;
	}
}

.reviews-rating-overall-top {
	color: $light-black;
	padding-bottom: 10px;
	border-bottom: 1px solid $filter-header-border-gray;

	.overall-rating-number {
		font-family: 'Roboto-Light', sans-serif;
		font-size: 60px;
		margin: 0;
		padding: 0 30px 0 0;
		line-height: 44px;
		display: inline-block;
	}

	.overall-stars-rating {
		display: inline-block;
		vertical-align: top;

		.place-stars-block {
			margin-top: 5px;
		}
	}
}

.reviews-rating-parts {
	text-align: center;
	padding-top: 20px;

	.overall-rating-title {
		margin-bottom: 10px;
	}
}

.overall-rating-title {
	font-family: 'Roboto-Bold', sans-serif;
	font-size: 18px;
	line-height: 14px;
	margin: 0;
	padding: 0;
}

.progress-bar-item {
	.rating-number {
		font-family: 'Roboto-Bold', sans-serif;
		font-size: 14px;
		padding-right: 20px;
	}

	.progress {
		height: 15px;
		margin-bottom: 10px;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
		background-color: $filter-header-border-gray;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;

		.progress-bar {
			background: $main-orange;
			-webkit-box-shadow: none;
			-moz-box-shadow: none;
			box-shadow: none;
		}
	}
}
.user-review {
	margin-top: 20px;
	padding-bottom: 25px;

	&:not(:last-child) {
		border-bottom: 1px solid $filter-header-border-gray;
	}

	.user-review-header {
		font-family: 'Roboto-Medium', sans-serif;

		div {
			display: inline-block;
			vertical-align: middle;
		}
	}

	.user-avatar {
		width: 40px;
		height: 40px;
		margin-right: 10px;
		overflow: hidden;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;

		img {
			width: 100%;
		}
	}

	.place-stars-block {
		margin-right: 15px;
	}

	.user-name {
		margin-right: 15px;
		color: $restaurant-tabs-gray;
	}

	.review-date {
		font-size: 16px;
		color: $price-range-bg;
	}

	.user-review-entry {
		font-family: 'Roboto-LightItalic';
		margin-top: 13px;
	}

	.reply {
		margin-bottom: 0;
	}

	.user-review-right {
		margin-top: 7px;

		.reviews-rating-part {
			color: $restaurant-tabs-lighter-gray;
			margin-bottom: 0;
		}

		.reviews-number-style {
			float: right;
		}
	}
}

.modal-owl-carousel {
	.owl-item {
		img {
			max-height: 600px;
			overflow: hidden;
		}
	}
}

.modal-customized {
	&.modal-owl-carousel {
		.modal-body {
			padding: 0 30px 30px 30px;
		}
	}
}

.table-container-fluid {
	padding: 0;
}
.table-col-row {
	font-size: 18px;
	font-family: "Roboto-Regular", sans-serif;
	font-weight: 400;
	padding: 20px 5px;
	border: 1px solid #f5f5f5;
	margin: 10px 0;
	align-items: center;
	display: flex;
	.status {
		width: auto;
		word-wrap: break-word;
	}
	&:hover {
		background-color: $restaurant-main-content-bg;
	}
	&.table-col__header {
		border: none;
		&:hover {
			background-color: transparent;
		}
		.table-col__title {
			display: block;
		}
	}
}
.table-col__title {
	color: #999999;
	font-size: 16px;
	font-family: 'Roboto-Regular', sans-serif;
	display: none;
}
.table-col__date {
	a {
		color: #999999;
		font-size: 16px;
		font-family: 'Roboto-Regular', sans-serif;

	}
	&.table-col__title {
		a {
			position: relative;

			&:after {
				content: url(../../images/arrow-sort.png);
				position: absolute;
				right: -20px;
			}
			&:hover, &:active, &:focus {
				text-decoration: none;
			}

		}
	}
}
.table-col__restname {
	word-wrap: break-word;
}

.form-reserve-table-fixed {
	position: fixed;
	bottom: 0px;
	width: 100%;
	z-index: 1;

	.btn-orange-gradient {
		width: 100%;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
	}
}