
.client-settings {
  border-top: 1px solid #e8e8e8;
  margin-top: 18px;
  padding-top: 20px;
  padding-left: 130px;
  font-size: 18px;
  color: #282828;
  font-family: "ClearSans-Light", sans-serif;
  .btn-orange {
    margin-left: 175px;
    margin-top: 15px;
  }
  form {
    max-width: 800px;
    margin-bottom: 30px;
  }
  label {
    margin: 12px 0 0;
    max-width: 168px;
    float: left;
    &[for=clientPhone] {
      margin: 0 0 10px;
      text-align: left;
    }
  }
  .form-group {
    display: block;
    clear: both;
    margin-bottom: 13px;
    text-align: right;

    .input-item-customized {
      width: 625px;
      float: none;
      display: inline-block;
    }
  }

  .customized-select {
    max-width: 625px;
    text-align: right;
    margin-top: 0;
    display: inline-block;
    float: none;
    select {
      margin-bottom: 10px;
    }
  }
  input {
    border: 1px solid #e8e8e8;
    padding: 13px 20px;

    line-height: 1em;
    color: #282828;
    text-align: left;

    &:not(.input-field-inline){
      width: 625px;
    }
    &:focus {
      border: 1px solid #e8e8e8;
      outline: none;
    }
    &[name="password"] {
      padding-right: 145px;
    }
    &[name="sale"], &[name="saleDateFrom"], &[name="saleDateTo"] {
      float: none;
      text-align: center;
      font-family: "ClearSans-Bold", sans-serif;
    }
    &[name="sale"] {
      width: 86px;
      float: left;
      padding: 13px 10px;
    }
    &[name="scheduleFrom"], &[name="scheduleTo"] {
      float: none;
      max-width: 227px;
      text-align: center;
      font-family: "ClearSans-Bold", sans-serif;
    }

  }
  textarea {
    border: 1px solid #e8e8e8;
    padding: 13px 20px;
    width: 100%;
    max-width: 625px;
    height: 85px;
    resize: none;
  }
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 18px;
    color: #aaaaaa;
    line-height: 1em;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    font-size: 18px;
    color: #aaaaaa;
    line-height: 1em;
  }
  :-ms-input-placeholder { /* IE 10+ */
    font-size: 18px;
    color: #aaaaaa;
    line-height: 1em;
  }
  :-moz-placeholder { /* Firefox 18- */
    font-size: 18px;
    color: #aaaaaa;
    font-family: "ClearSans-Light", sans-serif;
    line-height: 1em;
  }

  .pass-group {
    text-align: right;
  }

  .link-change-pass {
    border: 1px solid #e8e8e8;
    padding: 16px 15px;
    text-transform: uppercase;
    line-height: 1em;
    display: inline-block;
    margin-bottom: 13px;
    &:link, &:visited {
      color: #aaaaaa;
    }
  }

  .change-pass-fields {
    clear: both;

    .input-field-inline {
      width: 25.5%;
    }
  }
}
.restaurant-settings {
  .form-group {
    .input-item-customized {
      width: auto;
    }
  }
}
.link-blue {
  display: block;
  clear: both;
  margin-left: 175px;
  margin-bottom: 10px;
  padding-top: 5px;
  font-size: 16px;
  color: #2230ef;
  text-decoration: none;
  text-align: left;
  &:hover, &:active, &:focus {
    color: #2230ef;
    text-decoration: underline;
  }
}
.modal-reviews {
  .link-blue {
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
  }
}
.settings-box {
  width: 100%;
  max-width: 625px;
  color: #999999;
  font-family: "ClearSans-Light", sans-serif;
  display: inline-block;
  span {
    float: left;
    padding-right: 9px;
    padding-left: 9px;
    margin-top: 12px;
  }
}
.settings-schedule {
  span{
    &:first-child {
      color: #282828;
      padding: 0;
    }
  }
}
.characteristics-list {
  max-width: 625px;
  width: 100%;
  float: right;
  overflow: hidden;
  list-style: none;
  margin: 0 0 10px;
  padding: 0;
}
.characteristics-item {
  float: left;
  color: #fff;
  background-color: $orange;
  padding: 7px 13px;
  margin: 0 10px 11px 0;
}

#addBackgroundPhotoBtn {
  width: 100%;
  max-width: 440px;
  margin-bottom: 5px;
}

.button-add-photo {
  background: #e5e5e5 url("/images/icon-add-photo.png") no-repeat center;
  position: relative;
  text-align: center;
  width: 136px;
  height: 136px;
  margin-right: 15px;
  display: block;
  float: left;
  .link-blue {
    position: absolute;
    bottom: 15px;
    left: 50%;
    padding: 0;
    margin: 0 0 0 -52px;
  }
}
.gallery-photo {
  &__edit {
    display: none;
    background-color: rgba(0, 0, 0, 0.58);
    position: absolute;
    bottom: 0;
    height: 70px;
    width: 100%;
    text-align: center;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  &__item {
    width: 136px;
    height: 136px;
    overflow: hidden;
    float: left;
    margin: 0 15px 15px 0;
    border: 1px solid #e7e7e7;
    position: relative;
    &:hover {
      border: 3px solid $orange;
      .gallery-photo__edit {
        display: block;
      }
    }
    img {
      width: auto;
      height: 100%;
    }
  }

}
.link-photo-edit {
  color: $orange;
  margin-top: 15px;
  display: block;
  line-height: 1em;
  &:hover, &:active {
    color: $orange;
  }
}
.link-photo-delete {
  color: #fff;
  margin-top: 8px;
  display: block;
  line-height: 1em;
  &:hover, &:active {
    color: #fff;
  }
}
.info-popup {
  position: relative;
  background: url("/images/ico-info.png") no-repeat center bottom;
  width: 20px;
  height: 20px;
  display: inline-block;
  text-align: left;
  &__data {
    position: absolute;
    left: 40px;
    top: -90px;
    display: none;
    border: 1px solid #e8e8e8;
    padding: 10px;
    background: #fff;
    width: 710px;
    z-index: 3;
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.21);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.21);
    &:after {
      content: url(../../images/icon-pop-up-left.png);
      position: absolute;
      top: 60px;
      left: -24px;
    }
  }
  &:hover {
    .info-popup__data {
      display: block;
    }
  }
  &__img {
    float: left;
    width: 50%;
    img {
      width: 100%;
    }
  }
  &__text {
    width: 50%;
    float: left;
    padding: 5px 0 8px 20px;
    font-size: 18px;
    color: #666666;
    font-family: "ClearSans-Light", sans-serif;
  }
}
.sale-date {
  float: left;
}

.btn-wrap, .reviews-rating__wrap {
  padding: 15px 30px 5px;
}

.client-page {
  .input-item-customized {
    max-width: 100%;
    width: auto;
    min-width: 250px;
    float: left;
    input {
      color: #ff5500;
    }
    .bs-datepicker {
      input {
        height: 52px;
        border-radius: 0 !important;
        border: 1px solid #e8e8e8;
        box-shadow: none;
      }
    }
  }
}