.select2-selection--single {
  background-color: $white;

  .select2-selection__rendered {
    font-family: 'Roboto-Medium', sans-serif;
    color: #444;
    line-height: 28px;
    text-align: center;
  }

  .select2-selection__clear {
    cursor: pointer;
    float: right;
    font-weight: bold;
    margin-right: 10px;
  }

  .select2-selection__placeholder {
    color: #999;
  }

  .select2-selection__arrow {
    border: none;
    height: 26px;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 20px;

    b {
      background: url('../images/ico-arrow-to-down.png') no-repeat scroll center center transparent;
      height: 6px;
      display: block;
      padding-top: 25px;
    }
  }
}

&[dir="rtl"] {
  .select2-selection--single {
    .select2-selection__clear {
      float: left;
    }

    .select2-selection__arrow {
      border: none;
      border-right: 1px solid $border-color;

      border-radius: 0;
      border-top-left-radius: $border-radius;
      border-bottom-left-radius: $border-radius;

      left: 1px;
      right: auto;
    }
  }
}

&.select2-container--open {
  .select2-selection--single {
    border: none;

    .select2-selection__arrow {
      background: transparent;

      border: none;

      b {
        border-color: transparent transparent #888 transparent;
        border-width: 0 4px 5px 4px;
      }
    }

    &:focus {
      outline: none;
    }
  }

  &.select2-container--above {
    .select2-selection--single {
      border-top: none;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }

  &.select2-container--below {
    .select2-selection--single {
      border-bottom: none;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}
