.select2-selection--multiple {
  background-color: none;
  border: none;
  cursor: default;
  outline: 0;

  &:focus {
    border: none;
    outline: none;
  }

  .select2-selection__rendered {
    list-style: none;
    margin: 0;
    padding: 0 5px;
    width: 100%;
  }

  .select2-selection__clear {
    display: none;
  }

  .select2-selection__choice {
    background-color: $main-orange;
    color: $white;
    cursor: default;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    padding: 5px 10px;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .select2-selection__choice__remove {
    color: $white;
    cursor: pointer;

    display: block;
    float: right;
    font-weight: bold;

    margin-left: 5px;
    text-align: right;

    &:hover {
      color: $gradient-start-color;
    }
  }
}

&[dir="rtl"] {
  .select2-selection--multiple {
    .select2-selection__choice {
      float: right;
    }

    .select2-selection__choice {
      margin-left: 5px;
      margin-right: auto;
    }

    .select2-selection__choice__remove {
      margin-left: 2px;
      margin-right: auto;
    }
  }
}

&.select2-container--open {
  .select2-selection--multiple {
    border: none;
  }

  &.select2-container--above {
    .select2-selection--multiple {
      border-top: none;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }

  &.select2-container--below {
    .select2-selection--multiple {
      border-bottom: none;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}
