@import "defaults";
@import '../../../../node_modules/select2/src/scss/mixins/gradients';

.select2-container--gray {
  @import "single";
  @import "multiple";

  outline: none;

  .select2-search--dropdown {
    .select2-search__field {
      border: 1px solid $border-color;
      outline: 0;
    }
  }

  .select2-search--inline {
    display: none;
    .select2-search__field {
      outline: 0;
      box-shadow: none;
      background: none;
    }
  }

  .select2-dropdown {
    background-color: $dropdown-bg-color;
    border: 1px solid transparent;
  }

  .select2-dropdown--above {
    border-bottom: none;
    margin-top: -35px;
  }

  .select2-dropdown--below {
    border-top: none;
    margin-top: -25px;
  }

  .select2-results > .select2-results__options {
    max-height: $results-max-height;
    overflow-y: auto;
  }

  .select2-results__option {
    font-family: 'Roboto-Medium', sans-serif;
    padding: 8px 6px 8px 30px;

    &[role=group] {
      padding: 0;
    }

    &[aria-disabled=true] {
      color: $results-choice-fg-unselectable-color;
    }
  }

  .select2-results__option--highlighted[aria-selected] {
    background-color: transparent;
    color: $main-orange;
    margin-left: -24px;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    &:before {
      content: url(../images/ico-selected-orange.png);
      margin-right: 10px;
    }
  }

  .select2-results__group {
    cursor: default;
    display: block;
    padding: 6px;
  }

  &.select2-container--open .select2-dropdown {
    border: none;
    outline: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    -webkit-box-shadow: 0 0 15px $lighter-gray;
    -moz-box-shadow: 0 0 15px $lighter-gray;
    box-shadow: 0 0 15px $lighter-gray;
  }
}
